.styled-select select { font-family: Arial, sans-serif; color: #828282; background: transparent; padding: 5px; font-size: 12px; height: 34px; border: solid 1px #cccccc; }
.styled-select { border: none; height: auto; width: auto; background: none; overflow: visible; }
.select-disabled { background: none; }
.select-disabled select { color: #cccccc; }

.cityselect select, .stateorprovinceselect select, .countryselect select { width: 180px; }
.cityselect, .stateorprovinceselect, .countryselect { width: 190px; display: inline-block; float: right; margin-top: -42px;  }

.cityselect { margin-right: 40px; }
.stateorprovinceselect { margin-right: 10px; }
.countryselect { float: left; margin-top: 5px; }

#dialogclose { top: -20px; }

.formhint { top: 16px; }
.styled-select .formhint{ top: -10px; }

.facilityselect select, .facilitiesselect select { width: 280px; }