body{ font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px; color: #828282; background: url('../images/headerbg.png') top left repeat-x #f7f6f1; }

.left { float: left; }
.right { float: right; }
.clear{	clear: both; } 

a:link, a:visited { text-decoration: underline; color: #719d48;  }
a:hover, a:active { text-decoration: none; }

h1 { font-size: 20px; font-weight: bold; color: #ffffff; }
h2 { font-size: 17px; font-weight: bold; }
h3 { font-size: 14px; font-weight: bold; }
h4 { font-size: 13px; font-weight: bold; }

strong { font-weight: bold; }
em { font-style: italic; }

.green { color: #719d48; }
.lightgreen { color: #a9d542; }
.red { color: #ff0000; }
.purple { color: #6e3da2; }
.orange { color: #ffaa00; }

hr, .hr { background-color: #d3d3d3; border: 0 none; clear: both; color: #d3d3d3; height: 1px; margin: 0; padding: 0; }

#container { width: 1000px; margin: 0 auto; }

.newpurple { color: #6e5388; }

/* Header */
#header { background: transparent; height: 62px; width: 93%; position: relative; }
#logo {  }
#header .right { text-align: right; margin-top: 10px; font-size: 14px; }
#header .right a { text-decoration: none; padding: 2px 12px; color: #ffffff; background-color: #6e3da2; text-decoration: none;  vertical-align: middle; border-radius: 10px; }
#header .right a#signout { background-color: #ffffff; background-color: rgba(255, 255, 255, 0.8); color: #000000; }
#header .right a:hover { text-decoration: none; background-color: #b690d9; }
#header .text { color: #ffffff; margin-top: 10px; font-weight: bold; }

/* Content */
#content { width: 93%; margin: 20px 0; border: solid 1px #bbbbbb; box-shadow: 0 0 1px #cccccc; background-color: #e7e7e7; }
#searchcontentblock { margin: 15px 0px; width: 610px; pading: 15px; background: #fbfbfb url('../images/contentblockbg.png') top left repeat-x; border: solid 1px #bbbbbb; box-shadow: 0 0 1px #cccccc; display: inline-block; float: left; overflow: hidden; }
#contentblock { margin: 15px 10px; width: 610px; padding: 15px; background: #fbfbfb url('../images/contentblockbg.png') top left repeat-x; border: solid 1px #bbbbbb; box-shadow: 0 0 1px #cccccc; display: inline-block; float: left; }
#sponsorblock { width: 250px; margin-left: 0px; margin-top: -6px; margin-bottom: -6px; float: right; text-align: right; }
#sponsorblock h2 { line-height: 30px; }
.sponsor { width: 325px; height:214px; padding: 6px 0; }
.sponsor img {max-width:270px; max-height:100%; margin-left:-25px; display:block; }
.sponsor2 { width: 325px; height:214px; padding: 6px 0; }
.sponsor2 img {max-width:270px; max-height:100%; margin-left:-13px; display:block; }
.innercontent { padding: 5px; }

/* Footer */
#footerwrapper { width: 100%; background: #51514f; }
#footer { padding: 10px 0; margin: 0 auto; width: 1000px; color: #ffffff; font-size: 14px; background: #51514f; }
#footer a { text-decoration: none; color: #ffffff; margin-right:75px; }
#footer a:hover { text-decoration: underline; }

/* Results */
.tooltipbox { padding: 5px; margin-right: 15px; margin-top: 5px; border: 1px solid #cccccc; float: left; }
.tooltip { vertical-align: text-top; padding-left: 5px; }
#results #searchcontentblock {  }
#results #searchcontentblock { line-height: 18px; font-size: 13px; }
#results #searchcontentblock h2 { margin-bottom: 25px; }
#results span.listingicon { padding-right: 20px; }
#results span.listingicon img { vertical-align: text-bottom; }
#results #searchcontentblock h3#listingheading { padding: 10px 5px; height: 20px; line-height: 20px; border-top: solid 2px #c0c0c0; border-bottom: solid 2px #c0c0c0; }
#results #viewonmap { margin-top: 10px; margin-bottom: 5px; }

#results #searchcontentblock div.listing { line-height: 16px; font-size: 12px; padding: 8px 20px; border-top: solid 1px #bbbbbb; margin-top: 10px; position: relative; color: #535251; width: 570px; }
#results #searchcontentblock div.listing div.arrows { margin-top: 8px; }
#results #searchcontentblock div.listing h3 { line-height: 16px; }
#results #searchcontentblock div.preferred { background-color: #e9dff2; border: none; }
#results #searchcontentblock div.priority { background-color: #dab3ff; border: none; }
#results #searchcontentblock div.winter { background-image: url("http://directory.bloomnet.net/Directory/images/winter.png"); border: none; }
#results #searchcontentblock div.fall { background-image: url("http://directory.bloomnet.net/Directory/images/fall.png"); border: none; }
#results #searchcontentblock div.spring { background-image: url("http://directory.bloomnet.net/Directory/images/spring.png"); border: none; }
#results #searchcontentblock div.summer { background-image: url("http://directory.bloomnet.net/Directory/images/summer.png"); border: none; }
#results #searchcontentblock div.vday { background-image: url("http://directory.bloomnet.net/Directory/images/vday.png"); border: none; }
#results #searchcontentblock div.mday { background-image: url("http://directory.bloomnet.net/Directory/images/mday.png"); border: none; }
#results #searchcontentblock div.winter2 { background-image: url("http://directory.bloomnet.net/Directory/images/winter2.png"); border: none; }
#results #searchcontentblock div.fall2 { background-image: url("http://directory.bloomnet.net/Directory/images/fall2.png"); border: none; }
#results #searchcontentblock div.spring2 { background-image: url("http://directory.bloomnet.net/Directory/images/spring2.png"); border: none; }
#results #searchcontentblock div.summer2 { background-image: url("http://directory.bloomnet.net/Directory/images/summer2.png"); border: none; }
#results #searchcontentblock div.vday2 { background-image: url("http://directory.bloomnet.net/Directory/images/vday2.png"); border: none; }
#results #searchcontentblock div.mday2 { background-image: url("http://directory.bloomnet.net/Directory/images/mday2.png"); border: none; }
#results #searchcontentblock div.listing a { font-weight: bold; text-decoration: none; }
#results #searchcontentblock div.listing .viewmap img { vertical-align: middle; padding-left: 20px; }
#results #searchcontentblock .listing .stars { text-align: right; font-size: 11px; position: absolute; top: 10px; right: 20px; }
#results #searchcontentblock .listing .calltoaction { position: absolute; top: 62px; right: 12px;  }
#results #searchcontentblock .listing .right, #results #searchcontentblock .listing .left { display: inline-block; }
#results #searchcontentblock .listing .sponsorlogo { position: absolute; top: 10px; right: 152px; height:117px; width:175px; }
#results #searchcontentblock .listing .sponsorlogo img {max-width:100%; max-height:100%; margin:auto; display:block; }
#results #searchcontentblock div.listing.selected { border: 2px solid #799932; width: 566px; }
#results #searchcontentblock div.social { border: 1px solid #799932; background-color: #f0f7e0; width: 604px; padding: 8px 3px; line-height: 15px; border-top: none; font-size: 12px; }
#results #searchcontentblock div.social a { font-weight: bold; text-decoration: none; vertical-align: top; padding-right: 5px; }
#results #searchcontentblock div.social a img { margin-left: 5px; }

#social {   width: 604px; padding: 8px 3px; line-height: 15px; border-top: none; font-size: 12px; }
#social a { font-weight: bold; text-decoration: none; vertical-align: top; padding-right: 5px; }
#social a img { margin-left: 5px; }

#display-ad #display-ad-content{ height:1024px; width:800px; }
#display-ad img { max-width:100%; max-height:100%; margin:auto; display:block; }

.pagePrev, button.pagePrev:hover {
  background: transparent url(../images/PreviousPage.png) top left no-repeat;
  border: none;
  width: 114px;
  height: 37px;
}
.hasPrev button.pagePrev {
  cursor: pointer;
  display: block !important;
}
button.pageNext, button.pageNext:hover {
  background: transparent url(../images/NextPage.png) top left no-repeat;
  border: none;
  width: 114px;
  height: 37px;
}
.hasNext button.pageNext {
  cursor: pointer;
  display: block !important;
}

.enteranorder { float: left; padding: 0px 5px; width: 630px; height: 41px; background-color: #f6f5f5; border: solid 1px #d7d7d7; margin: 0 10px; text-align: center; margin-bottom: 15px;}
.enteranorderwrapper { width: 200px; margin: 0 auto; }
.enteranorderwrapper a { font-size: 17px; float: left; padding: 10px; }
.enteranorderwrapper img.or { float: left; height: 41px;}
.enteranorderwrapper img.check { float: left; margin-top: 5px; }
.enteranorder img#arrow { margin-top: 7px; }
.enteranordercompleted{
	width:210px;
	margin:0 auto;
	position:relative;
	top:-12px;
}
.enteranordercompleted a{
	position:relative;
	top:-15px;
}
.dropshiporder{
	width:280px;
	margin:0 auto;
	position:relative;
	top:-12px;
}
.dropshiporder a{
	position:relative;
	top:-15px;
}
#results p#searchresults { font-size: 12px; margin-top:10px; padding:5px; }
#results p#searchresults a { font-weight: bold; text-decoration: none; }

#nofloristfound { color: #ff0000; font-size: 12px; }

/* Map */
#map #contentblock { width: auto; margin: 45px 40px; border-radius: 5px; background-image: none; padding-top: 10px; }
#map #contentblock .left { margin-top: 13px; margin-bottom: 10px; }
#map .tooltipbox { margin-top: 12px; padding: 5px 6px;}
#map .tooltipbox a img { padding-left: 10px;}
#map #contentblock a { text-decoration: none; }
.map {  }
.pins { padding-left: 10px; font-size: 14px; float: left;}
.pins img { padding: 0 8px; float: left; }
.pins p {float:left; margin-top:20px;}
.ui-tooltip { background-color: #ffffff; }
#refinesearch { text-align: right; width: 170px; }
#refinesearch a { text-decoration: none; color: #828282; float: right; line-height: 20px; }

/* Confirmation */
#confirmation #contentblock { line-height: 18px; font-size: 13px; }
#confirmation #contentblock h2 { margin-bottom: 40px; }
#confirmation #customerinfo { margin-top: 10px; width: 290px;}
#confirmation #floristinfo { margin-top: 10px; Width: 290px; }

#productblock { padding: 5px 0; width: 906px; }
#productblock h3 { padding-left: 10px; padding-bottom: 10px; }

table#products { width: 100%; background: none; font-size: 12px; }
table#products th { font-weight: bold; text-align: right; padding: 0 10px; height: 27px;  vertical-align: middle; background-color: #f6f5f5; }
table#products th a { font-weight: normal; }
table#products th:first-child { text-align: left; }
table#products td { height: 22px; text-align: right; padding: 0 10px;  vertical-align: middle; border-bottom: solid 1px #cccccc; }
table#products tr td:first-child { text-align: left; }
table#products tr:last-child td { border: none; }
#productname { width: 50%; }
#quantity { width: 10%; }
#price { width: 33%; }
.productname { width: 50%; }
.quantity { width: 10%; }
.price { width: 33%; }
.total { text-align: right; font-weight: bold; background-color: #f6f5f5; margin-top: 4px; padding: 4px 10px; font-size: 12px;}
#additionalinfo { }
#additionalinfo span { font-weight: bold; font-size: 13px; }
#additionalinfo p { font-size: 12px; }
#sendorder { margin-top: 5px;}
#printconfirmation { margin-top: 24px; }
#closebutton { margin-top: 24px; margin-left: 20px; }

.ordernumber { font-size: 15px; color: #000000; background-color: white; padding: 12px 8px; border: solid 1px #93b278; margin-bottom: 18px;}
#confirmation #contentblock h2#confirmation2 { margin-bottom: 25px; }


/* Form */
#accordion { margin: 15px 10px; width: 640px; background-color: transparent; display: inline-block; float: left; }
#accordion h2 { color: #a0a0a0; background-color: #f6f5f5; position: relative; font-size: 18px; font-weight: bold; line-height: 1; padding: 14px; height: 16px; border: solid 1px #bbbbbb; box-shadow: 0 0 1px #cccccc; margin-top: 15px; }
#accordion h2:first-child { margin-top: 0; }
#accordion h2.ui-accordion-header-active { background-color: #fbfbfb; color: #6d6d6d; }
#accordion h2 span.ui-accordion-header-icon { height: 28px; width: 28px; background: transparent url('../images/arrowdown.png') top left no-repeat; }
#accordion h2.ui-accordion-header-active span.ui-accordion-header-icon { background: transparent url('../images/arrowup.png') top left no-repeat; }
.ui-accordion .ui-accordion-icons { padding-left: 0; }
.ui-accordion .ui-accordion-header {  }
.ui-accordion .ui-accordion-header .ui-accordion-header-icon { left: 600px; margin-top: 0px; position: absolute; top: 8px; }
.ui-accordion-content { border: solid 1px #bbbbbb; box-shadow: 0 0 1px #cccccc; background-color: #fbfbfb; }
.ui-accordion .ui-accordion-content { padding: 1em; }

#step-1a { width: 611px; height: 385px; background: transparent url('../images/step-1a.png') top left no-repeat; position: relative; margin-top:80px; overflow: hidden; }
#step-1a #leftside, #step-1a #rightside { width: 260px; margin-top: 5px; margin-left: 185px; padding-top: 5px; }

#step-1a input[type="text"] { font-family: Arial, sans-serif; font-size: 13px; padding: 5px; width: 250px; border: 1px solid #d5d5d5; color: #828282; margin: 0; }
#step-1a .styled-select select { float: none; -webkit-appearance: none; font-family: Arial, sans-serif; color: #828282; background: transparent; padding: 3px; font-size: 13px; height: 24px; border: none; width: 285px; }
#step-1a .styled-select { float: none; height: 24px; overflow: hidden; background: url('../images/darkgreenarrowdown.png') no-repeat right #ffffff; border: 1px solid #d5d5d5; width: 260px; }
#step-1a #residentialorbusiness { position: absolute; font-size: 18px; color: #6d6d6d; font-weight: bold; top: 30px; left: 75px; }
#step-1a #residential { position: absolute; font-size: 18px; color: #6d6d6d; font-weight: bold; top: 10px; left: 30px; }
#step-1a #facility { position: absolute; font-size: 18px; color: #6d6d6d; font-weight: bold; top: 10px; left: 30px; }
#step-1a #advanced { position: absolute; font-size: 18px; color: #6d6d6d; font-weight: bold; top: 10px; left: 30px; }
#step-1a #facility-copy {color: #6E5388; font-size: 12px; font-weight: normal; line-height:12px; width:220px; left: 380px; position: absolute; top: 53px; }
#step-1a input.deliverydate { width: 215px; }
#step-1a .minicalendar { margin-top: 2px; margin-left: 5px; }
#step-1a .searchforaflorist { position: absolute; top:250px; left: 220px; }
#step-1a .searchforafloristFac { position: absolute; top:270px; left: 220px; }
#step-1a #rightside .facLine1 { width: 290px; padding-top: 10px; }
#step-1a #rightside .facLine1 input{ width: 100px; margin-top: -100px; } 
#step-1a #rightside .stateorprovinceselect.styled-select { width: 145px; }
#step-1a #rightside .stateorprovinceselect select{ width: 170px; }
#step-1a #rightside .cityselect.styled-select { width: 260px; }
#step-1a #rightside .cityselect select { width: 285px; }

#form .additionalsearch.enteranorderwrapper { width: 320px; }
#form .additionalsearch.enteranorderwrapper span { font-size: 17px; padding-top: 10px; font-weight: bold; display: inline-block; }

h2 .check { left: 180px; position: absolute; top: 10px; }


input[type="text"], textarea { font-family: Arial, sans-serif; font-size: 12px; padding: 10px 5px; width: 260px; border: 1px solid #d5d5d5; color: #828282; margin: 5px 0; }
input[type="password"], textarea { font-family: Arial, sans-serif; font-size: 12px; padding: 10px 5px; width: 260px; border: 1px solid #d5d5d5; color: #828282; margin: 5px 0; }
input#codenumber { width: 175px; }
input#areacode { width: 52px; }
input#phone1 { width: 52px; }
input#phone2 { width: 66px; }
input#shopname { width: 305px}

input.searchforaflorist { background: transparent url('../images/searchforaflorist.png') top left no-repeat; border: none; cursor: pointer; width: 197px; height: 47px; line-height: 47px; margin: 20px 10px 20px 0; }
input.searchforafloristFac { background: transparent url('../images/searchforaflorist.png') top left no-repeat; border: none; cursor: pointer; width: 197px; height: 47px; line-height: 47px; margin: 20px 10px 20px 0; }
input#clearallfields { background: transparent url('../images/clearallfields.png') top left no-repeat; border: none; cursor: pointer; width: 167px; height: 47px; line-height: 47px; margin: 20px 0; }
input.clearallfields { background: transparent url('../images/clearallfields.png') top left no-repeat; border: none; cursor: pointer; width: 167px; height: 47px; line-height: 47px; margin: 20px 0; }
input#searchflorist { background: transparent url('../images/searchforaflorist.png') top left no-repeat; border: none; cursor: pointer; width: 197px; height: 47px; line-height: 47px; margin: 20px 10px 20px 0; }

input[type="submit"] { }
input[type="radio"] { margin-top: 10px; }

input#orderZip { width: 150px; margin-right: 10px; margin-top: 5px;}
input.orderZip { width: 150px; margin-right: 10px; margin-top: 5px;}
.styled-select select { -webkit-appearance: none; font-family: Arial, sans-serif; color: #828282; background: transparent; padding: 5px; font-size: 12px; height: 34px; border: none; }
.styled-select { height: 34px; overflow: hidden; background: url('../images/darkgreenarrowdown.png') no-repeat right #ffffff; border: 1px solid #d5d5d5; }
.select-disabled { background: url('../images/lightgreenarrowdown.png') no-repeat right #ffffff; }
.select-disabled select { color: #cccccc; }

.cityselect select, .stateorprovinceselect select, .countryselect select, .occasionselect select { width: 200px; }
.cityselect, .stateorprovinceselect, .countryselect { width: 175px; display: inline-block;  margin: 0 auto; }

.countrySelect select{ width: 300px; }
.countrySelect{ width: 250px; display: inline-block;  margin: 0 auto; }

.cityselect { margin-right: 40px; margin-top: 5px; }
.stateorprovinceselect { margin-right: 10px; margin-top: 5px; }
.countryselect { float: left; margin-top: 5px; }
.occasionselect { width: 175px;  float: left; }


.ui-datepicker { background-color: #ffffff; border: 1px solid #d5d5d5; }
.ui-datepicker .ui-datepicker-prev span { height: 12px; width: 12px; background: transparent url('../images/ui-datepicker-prev.png') top left no-repeat; }
.ui-datepicker .ui-datepicker-next span { height: 12px; width: 12px; background: transparent url('../images/ui-datepicker-next.png') top left no-repeat; }

#deliveryblock { background: transparent url('../images/contentbg.png') top left repeat-x; width: 520px; margin: 10px 0; }
input.deliverydate { width: 150px; float: left; margin-left: 5px; }
input.dsDeliverydate { width: 150px; float: left; margin-left: 5px; }
#dateadvice { width: 300px; font-size: 9px; color: #999999; float: left; margin-left: 12px; margin-top: 3px; }
.minicalendar { float: left; margin-left: 12px; margin-top: 10px; }
.dsMinicalendar { float: left; margin-left: 12px; margin-top: 10px; }

input#continue { background: transparent url('../images/continue.png') top left no-repeat; border: none; cursor: pointer; width: 167px; height: 47px; line-height: 47px; margin: 20px 10px 20px 0; }
input.continue { background: transparent url('../images/continue.png') top left no-repeat; border: none; cursor: pointer; width: 167px; height: 47px; line-height: 47px; margin: 20px 10px 20px 0; }

input#orderNameFirst { width: 190px; }
input#orderNameLast { width: 190px; }
input#orderAddressIptStreet1 { width: 280px; }
input#orderAddressIptStreet2 { width: 280px; }
.facilityselect select, .facilitiesselect select { width: 305px; }
.facilityselect, .facilitiesselect { width: 280px; display: inline-block; float: left; margin-right: 10px; margin-top: 5px; margin-bottom: 5px; }
#form2 .or { margin: 0 20px; }

input#productCode { width: 95px; margin-right: 5px; }
input#productQuantity { width: 75px; margin-right: 5px; }
input#productDescription { width: 238px; margin-right: 5px; }
input#productPrice { width: 100px; }

input.productCode { width: 75px; margin-right: 5px; vertical-align:middle; }
input.dsProductQuantity { width: 35px; margin-right: 5px; vertical-align:top;}
input.fbProductQuantity { width: 35px; margin-right: 5px; margin-top: -155px; vertical-align:top;}
textarea.productDescription { width: 200px; margin-right: 5px; vertical-align:middle; }
input.productPrice { width: 45px; vertical-align:middle;}
input.productSelect { vertical-align:middle; }
img.productImage { height: 140px; width: 120px; vertical-align:middle; }

.dsProdCode { display: inline-block; width: 75px; }
.dsProdDescription { display: inline-block;; width: 400px; overflow: auto; margin-right: 5px; vertical-align:top; }
.dsProdPrice { display: inline-block; width: 150px; }

.fbProdCode { display: inline-block; width: 75px; }
.fbProdDescription { display: inline-block; width: 400px; overflow: auto; margin-left: 85px; margin-top: -155px; vertical-align:top; }
.fbProdPrice { display: inline-block; width: 150px; }

#dsProductTable { height: 400px; overflow:auto; }

#fbProductTable { height: 400px; overflow:auto; }

a#plus { text-decoration: none; font-size: 11px; }
a#plus img { margin: 0 10px; vertical-align: middle; }

#codifiedproducts { border: 1px solid #d5d5d5; padding: 10px 20px; width: 180px; }
#codifiedproducts img { vertical-align: top; } 
#codifiedproducts a { text-decoration: none; }

#ordertotal { font-size: 14px; float: right; padding: 6px 10px; color: #333333; }
textarea { padding-left: 20px; width: 430px; height: 80px; margin-bottom: 10px; }
.textareacontainer .label { padding-top: 10px; padding-left: 20px; width: 90px; }

.inputwrapper { position: relative; width: auto; display: inline; height: 34px; }
.formhint { position: absolute; left: 10px; top: 0px; }
.styled-select { position: relative; }
.styled-select .formhint{ margin-top: 10px; }

/* Modals */
#advanced-search-layout{height:280px !important;}
.ui-dialog { background: #ffffff url('../images/dialogtitlebg.png') top left repeat-x; width: 500px; border-radius: 4px; }
.ui-dialog-title { font-size: 16px; color: #719d48; }
.ui-widget-overlay { background-color: #000000; opacity: 0.5; filter: alpha(opacity = 50);}
.ui-dialog .ui-dialog-buttonpane button { font-family: Arial, sans-serif; background-color: #a9d542; border: none; border-radius: 4px; color: #FFFFFF; font-size: 16px; padding: 0 10px; text-decoration: none; margin-right: 0px; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: none; margin: 0 auto; width: 88px; }
.ui-dialog .ui-dialog-content, .ui-dialog .ui-widget-content { overflow: visible; }
.dialogclose { height: 12px; width: 50px; position: absolute; top: -20px; right: 10px; z-index: 1012; line-height: 12px; }
.dialog { font-size: 12px; color: #535251; line-height: auto; }

#choose-search-layout { line-height: 18px; padding-top: 20px; }
.dialog input[type="radio"], .dialog input[type="checkbox"] { padding: 0; margin: 0; margin-right: 5px; }

.clickable { cursor: pointer; }

#address-verification p {  }
#address-verification .greenbg { background-color: #5d9317; color: white; padding: 20px 15px; margin-bottom: 4px; font-size: 14px; }
#address-verification .graybg { background-color: #f0f0f0; padding: 20px 15px; margin-bottom: 10px; font-size: 14px; }
#address-verification .recommendedaddresses { border: solid 1px #535353; margin: 5px 0; padding: 8px; width: 500px; height: 150px; }
#address-verification .recommendedaddresses a { font-weight: bold; text-decoration: none; line-height: 18px; color: #5d9317;}
#address-verification .buttons { width: 200px; float: right; text-align: right; }
#address-verification .buttons a { display: inline-block; margin-bottom: 5px; }
#address-verification .modal-footer { margin-top: 10px; }
#address-verification .modal-footer p { line-height: 14px; }

#dsAddress-verification p {  }
#dsAddress-verification .greenbg { background-color: #5d9317; color: white; padding: 20px 15px; margin-bottom: 4px; font-size: 14px; }
#dsAddress-verification .graybg { background-color: #f0f0f0; padding: 20px 15px; margin-bottom: 10px; font-size: 14px; }
#dsAddress-verification .recommendedaddresses { border: solid 1px #535353; margin: 5px 0; padding: 8px; width: 500px; height: 150px; }
#dsAddress-verification .recommendedaddresses a { font-weight: bold; text-decoration: none; line-height: 18px; color: #5d9317;}
#dsAddress-verification .buttons { width: 200px; float: right; text-align: right; }
#dsAddress-verification .buttons a { display: inline-block; margin-bottom: 5px; }
#dsAddress-verification .modal-footer { margin-top: 10px; }
#dsAddress-verification .modal-footer p { line-height: 14px; }

#address-verification2 p {  }
#address-verification2 .greenbg { background-color: #5d9317; color: white; padding: 20px 15px; margin-bottom: 4px; font-size: 14px; }
#address-verification2 .graybg { background-color: #f0f0f0; padding: 20px 15px; margin-bottom: 10px; font-size: 14px; }
#address-verification2 .buttons { width: 200px; float: right; text-align: right; }
#address-verification2 .buttons a { display: inline-block; margin-bottom: 5px; }
#address-verification2 .modal-footer { margin-top: 10px; }
#address-verification2 .modal-footer p { line-height: 14px; }

#address-verification2 p.streetnumber { background-color: #f0f0f0; padding: 10px 15px; width: 150px;}
#address-verification2 input[type="text"] { border: solid 2px #f0f0f0; width: 300px; margin: 0 6px; padding: 7px; }
#address-verification2 a#submit-modal {  }
#address-verification2 #potential-matches { text-decoration: none; font-size: 14px; font-weight: bold; padding: 8px 0; display: block; }

#write-a-review { padding-top: 20px; }
#write-a-review p { font-size: 14px; line-height: 24px; width: 410px; }
#write-a-review p img { padding-right: 10px; }
#write-a-review textarea { width: 600px; height: 110px; }
#write-a-review #submit-review { position: absolute; left: 13px; bottom: 15px; }

#more-information { }
#more-information .text-wrapper { overflow-y: auto; height: 440px; }
#more-information p { font-size: 14px; line-height: 17px; padding: 8px 0; }

#store-hours { }
#store-hours p { font-size: 14px; color: #676767; line-height: 20px; width: 70%; float: left; }
#store-hours span { font-size: 14px; }

#shop-zips { }
#shop-zips p { font-size: 14px; color: #676767; line-height: 20px; width: 20%; float: left; }
#shop-zips span { font-size: 14px; }
#shop-zips-content { overflow-y: auto; height: 440px;}

#minimums { }
#minimums p { font-size: 14px; color: #676767; line-height: 20px; width: 80%; float: left; }
#minimums span { font-size: 14px; margin: auto;}
#minimums .text-wrapper { overflow-y: auto; height: 200px; }

#product-codification { }
#product-codification p { font-size: 14px; color: #676767; line-height: 20px; width: 80%; }
#product-codification .text-wrapper { overflow-y: auto; height: 440px; }

#facility-data p { font-size: 14px; color: #676767; line-height: 20px; width: 80%; }
#facility-data .text-wrapper { overflow-y: auto; height: 440px; }

#map-canvas  {  width:100%; height:100%; display:block; } 


#moreInfoHours  {  width:200px; height:200px; overflow: auto; text-align:center;} 
#more-information  {  width:1000px; height:100%; } 
#map-canvas-more-info  {  width:200px; height:200px; display:block; margin-left: 210px; margin-top: -200px; align: middle;} 
#offerings-content { width:200px; height:200px; margin-left: 420px; margin-top:-202px; overflow:auto; text-align:center;}
#minimums-more-content { width:200px; height:200px; margin-left: 630px; margin-top:-202px; overflow:auto; text-align:center;}
#more-information-content { width:200px; height:200px; margin-left: 840px; margin-top:-202px; overflow:auto; text-align:center;}
#local-products { width:100%; height:200px; overflow:auto; text-align:center; margin-top:50px;}

.local-product {width: 150px; height: 150px;}
.local-product-image{max-width: 100%; max-height: 100%;}

#reviews-and-recommendations h4 { font-size: 14px; }
#reviews-and-recommendations .review-entry { border-bottom: solid 1px #eeeeee; margin-bottom: 10px; padding:10px; }
#reviews-and-recommendations p { font-size: 14px; color: #676767; line-height: 18px; }
#reviews-and-recommendations p.stars { font-size: 12px; }
#reviews-and-recommendations p.stars span { padding-left: 5px; }
#reviews-and-recommendations .text-wrapper { overflow-y: auto; height: 440px;}
#reviews-and-recommendations p.links { font-size: 12px; }
#reviews-and-recommendations p.links a { font-weight: bold; text-decoration: none; padding: 0 10px; }

#review-pane { height: 400px; width: 100%; overflow-y: auto; }

#images {}
#images .thumb { margin: 0 5px; }

#myimagecarousel img { max-height:110px; max-width:175px; }


#images .image { display: none; }
#images .image.playing { display: block; }

#images-content { height:375px; width:450px; margin: auto; text-align:center; }
#images-content img { max-height:100%; max-width:100%; display:inline-block; }

#videos {}
#videos iframe { margin-top: 10px; }

#videos .video { display: none; }
#videos .video.playing { display: block; }



/*jQuery Carousel*/
.jcarousel-skin .jcarousel-container {

}

.jcarousel-skin .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin .jcarousel-container-horizontal {
    width: 560px;
    padding: 10px 40px;
}

.jcarousel-skin .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin .jcarousel-clip-horizontal {
    width:  560px;
    height: 105px;
}

.jcarousel-skin .jcarousel-item {
    width: 185px;
    height: 105px;
	cursor: pointer;
}

.jcarousel-skin .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin .jcarousel-next-horizontal {
    position: absolute;
    top: 10px;
    right: 5px;
    width: 20px;
    height: 105px;
    cursor: pointer;
    background: transparent url("../images/next-horizontal.png") no-repeat 0 0;
}

.jcarousel-skin .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url("../images/prev-horizontal.png");
}

.jcarousel-skin .jcarousel-next-horizontal:hover,
.jcarousel-skin .jcarousel-next-horizontal:focus {
    /*background-position: -32px 0;*/
}

.jcarousel-skin .jcarousel-next-horizontal:active {
    /*background-position: -64px 0;*/
}

.jcarousel-skin .jcarousel-prev-horizontal {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 20px;
    height: 105px;
    cursor: pointer;
    background: transparent url("../images/prev-horizontal.png") no-repeat 0 0;
}

.jcarousel-skin .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url("../images/next-horizontal.png");
}

.jcarousel-skin .jcarousel-prev-horizontal:hover, 
.jcarousel-skin .jcarousel-prev-horizontal:focus {
    /*background-position: -32px 0;*/
}

.jcarousel-skin .jcarousel-prev-horizontal:active {
    /*background-position: -64px 0;*/
}

.ui-accordion-header {
position:relative;
top:-15px
}

.unavailable{
   background: url(../images/unavailable.png) top left no-repeat;
  border: none;
  width: 114px;
  height: 37px;
}

.tlo {
  background: url(../images/PleaseCall.png) top left no-repeat;
  border: none;
  width: 114px;
  height: 37px;
}
#zipspan { position: absolute; top: 47px; }
#statespan {margin-right:5px;}
#zipcode { height: 14px; width: 98px; }

#productTable .orderLine {
 
}

.orderLine {
}

.orderFormZip { float: left; } 

.my-error-class {
    color:red;  /* red */
}
.error{
	color:#FF0000;
}

input.error {
	border: 2px solid red;
	background-color: #FFFFD5;
}

.advancedFormat {
	margin-left:185px;
	padding-top:10px;
}

#residentialSearchTab{
	height: 62px; background: url('../images/residential.png'); width: 55px; position: absolute; top:160px; left: 215px;
}
#funeralHomeSearchTab{
	height: 62px; background: url('../images/funeral_home.png'); background-repeat: no-repeat; background-position: center;  width: 75px; position: absolute; top:160px; left: 320px;
}
#nursingHomeSearchTab{
	height: 62px; background: url('../images/nursing_home.png'); background-repeat: no-repeat; background-position: center; width: 75px; position: absolute; top:160px; left: 430px;
}
#hospitalSearchTab{
	height: 62px; background: url('../images/hospital.png'); background-repeat: no-repeat; background-position: center; width: 75px; position: absolute; top:160px; left: 540px;
}
#advancedSearchTab{
	height: 62px; background: url('../images/advancedSearch.png'); width: 55px; position: absolute; top:160px; left: 650px;
}
#internationalSearchTab{
	height: 62px; background: url('../images/international.png'); width: 62px; position: absolute; top:160px; left: 750px;
}

#mainSearchDiv{
	margin-top:-15px;
}

#mainOrderDiv{
	margin-top:-15px;
}

#mainDropshipDiv{
	margin-top:-15px;
}

#mainResultsDiv{
	margin-top:-15px;
}