#helpMsg {
	margin:20px 30px 20px 30px;
	line-height:25px;
}
#helpPanel_c {
	width:500px;
}
.helpIcon {
	height: 32px;
  	width: 32px;
  	line-height: 23px;
  	padding:9px 0 0 12px;	
  	float:left;
}
/* general element decoration - start */
.ffBugFixDiv {
  height: 0px;
  overflow: hidden;
}
/* general element decoration - end */
/* basic elements - begin */
/*.js #container {
  display: none;
} */
#container a:link {
  color: #669900;
  text-decoration: none;
}
#container a:visited {
  color: #669900;
  text-decoration: none;
}
#container a:hover {
  color: #669900;
  text-decoration: none;
}
#container a:active {
  color: #669900;
  text-decoration: none;
}
td {
  border-width: 0;
}
button, input.submit, input.reset {
  background: #ff9900 none;
  border: 0px solid #9ecd34;
  color: #fff;
  cursor: pointer;
  padding: 5px 10px;
}
.ie6 button {
  padding: 5px;
}
button.btnDefault, input.submit.btnDefault, input.reset.btnDefault {
  background: #669900 none;
}
table, tbody {
  margin: 0px;
  padding: 0px;
}
select {
  color: #686868;
}
select.hasValue {
  color: inherit;
}
option {
  color: #000;
}
input.orderField, select.orderField {
  background: transparent none !important;
  border: 2px solid #cbcdcc;
  height: 27px;
  padding: 0 0 0 5px;
}
.ie6 input.orderField, .ie7 input.orderField, .ie8 input.orderField {
  height: 15px;
  padding: 4px 0 3px 5px;
}
/* basic elements - end */
/* state management - begin */
/*
#main {
  visibility: hidden;
}
*/
.initHidden {
  visibility: hidden;
}
.clickable {
  cursor: pointer;
}
/* state management - end */
/* global structures - begin */
html, body {
  height: 100%;
  width: 100%;
}
html, body {
  background: #f0f0f0;
}
/* global structures - end */
/* common structures - begin */
.error {
  border-color: #ff0000 !important;
  color: #ff0000 !important;
}

#bloomnet-navigation {
  /*visibility: hidden;*/
  width: 100%;
}
.ie6 #bloomnet-navigation {
  width: 100%;
}
#bloomnet-navigation td {
  border-width: 0;
}
#bloomnet-navigation div.navTopDiv {
  background: transparent url(../img/background_nav_button.gif) 0 0 repeat-x;
  border-left: 1px solid #dbedb3;
  height: 44px;
}
#bloomnet-navigation div.active div.navTopDiv {
  background: transparent url(../img/background_nav_button_active.gif) 0 0 repeat-x;
}
#bloomnet-navigation div.completed div.navTopDiv {
  background: transparent url(../img/background_nav_button_active.gif) 0 0 repeat-x;
}
#bloomnet-navigation div.active a:link {
  color: #ffffff;
  font-size: 135%;
  text-decoration: none;
  cursor: default;
}
#bloomnet-navigation div.active a:visited {
  color: #ffffff;
  font-size: 135%;
  text-decoration: none;
  cursor: default;
}
#bloomnet-navigation div.active a:hover {
  color: #ffffff;
  font-size: 135%;
  text-decoration: none;
  cursor: default;
}
#bloomnet-navigation div.active a:active {
  color: #ffffff;
  font-size: 135%;
  text-decoration: none;
  cursor: default;
}
#bloomnet-navigation div.navBotDiv {
  background: #fff none;
  height: 10px;
}
#bloomnet-navigation div.active div.navBotDiv {
  background: #ffffff url(../img/selected_nav_pointer.gif) center top no-repeat;
}
#bloomnet-navigation div.first div.navTopDiv {
  border-width: 0;
}
#bloomnet-navigation a {
  display: block;
  font-size: 170% !important;
  font-weight: bold;
  height: 100%;
  line-height: 44px;
  width: 100%;
}
#bloomnet-navigation a:link {
  color: #daf5a4;
  font-size: 135%;
  text-decoration: none;
}
#bloomnet-navigation a:visited {
  color: #daf5a4;
  font-size: 135%;
  text-decoration: none;
}
#bloomnet-navigation a:hover {
  color: #daf5a4;
  font-size: 135%;
  text-decoration: none;
}
#bloomnet-navigation a:active {
  color: #daf5a4;
  font-size: 135%;
  text-decoration: none;
}
.sectionCap {
  margin: 10px 0 0;
}
#container {
  background: #fff none;
  margin: 0 auto;
  text-align: center;
  width: 935px;
}
#header, #footer, #main {
  text-align: left;
}
#header {
  color: #4e4e4e;
  height: 60px;
}
#header table, #header table tr, #header table tr td {
  border: 0 solid #000;
}
#header .left .logo {
  background: transparent url(../img/logo.gif) no-repeat 0 0;
  height: 46px;
  margin: 0 0 0 15px;
  width: 234px;
}
#header .right {
  width: 275px;
}
#header .menu, #questionsPhone {
  line-height: 32.5px;
}
#questionsPhoneLabel {
  color: #373737;
  font-size: 13px;
}
#questionsPhoneNumber {
  color: #6a6a6a;
  font-size: 13px;
}
#header .right .menu li {
  display: inline;
  list-style: none;
  margin-left: 0;
  padding: 0 8px 0 0;
}
#main {
  margin: 0 15px;
}
.ie6 #main {
  margin: 0 0 0 15px;
}
.sectionCap td {
  border: 0 solid #000;
}
.sectionCapLeft {
  background: transparent url(../img/background_section_cap_left.gif) 0 0 no-repeat;
  height: 23px;
  line-height: 23px;
  width: 4px;
}
.sectionCapCenter {
  background: transparent url(../img/background_section_cap_center.gif) 0 0 repeat-x;
  height: 23px;
  line-height: 23px;
}
.sectionCapRight {
  background: transparent url(../img/background_section_cap_right.gif) 0 0 no-repeat;
  height: 23px;
  line-height: 23px;
  width: 5px;
}
.sectionTitle {
  color: #669900;
  font-size: 110%;
  font-weight: bold;
  margin-left: 10px !important;
}
.orderSection {
  background: transparent url(../img/background_section.gif) 0 0 repeat-x;
  padding: 5px 0 0 0;
}
.importantNote {
  color: #f00;
}
#footer {
  color: #666666;
}
#footer table {
  line-height: 50px;
  margin: 0 0 0 15px;
}
#footer table, #footer table tr, #footer table tr td {
  border: 0 solid #000;
}
#footer .left {
  width: 400px;
}
#footer .right {
  width: 125px;
}
#footer .right li {
  border-left: 1px solid #e9e9e9;
  display: inline;
  list-style: none;
  margin-left: 0;
  padding: 0 8px;
}
#footer .right li.first {
  border-left: 0px solid #fff;
}
/* common structures - begin */
/* generally available styles - begin */
.stretch {
  width: 100%;
}
/* generally available styles - end */
/* calendar/calendar panel - start */
#calPanel.yui-panel .bd {
  background: transparent !important;
}
#calWrapper {
  background: #ffffff;
  height: 235px;
}
#calContainer {
  /*
	background: #fff none;
*/

  border: 0px solid #808080 !important;
  display: none;
  height: 370px;
  margin: 50px auto 0 auto;
  text-align: center;
  width: 245px;
}
.ie6 #calContainer {
  overflow: hidden;
}
#calHeader {
  /*
	background: transparent url(../img/background_gradient_vert_white_gray.gif) repeat-x 0 0;
*/

  color: #809d36;
  font-size: 120%;
  /*
	padding: 10px;
*/

  text-align: left;
}
.ie6 #calHeader {
  font-weight: bold;
}
.calheader .calnav {
  /*
	display: none;
*/

}
.yui-skin-sam .yui-calendar .calnavleft {
  background: transparent url(../img/sprite_general.png) no-repeat scroll 0 0 !important;
  height: 20px !important;
  width: 20px !important;
}
.yui-skin-sam .yui-calendar .calnavright {
  background: transparent url(../img/sprite_general.png) no-repeat scroll -20px 0 !important;
  height: 20px !important;
  width: 20px !important;
}
#calMonth {
  margin: 0 10px 0 0;
}
#calSelected {
  background: #ffffff;
  color: #000;
  font-weight: bold;
  height: 20px;
  text-align: center;
}
#calButtons {
  background: #ffffff;
  height: 30px;
  padding: 10px 0;
  position: relative;
  text-align: left;
}
#calButtons .calSubmit {
  margin: 0 0 0 20px;
  position: relative;
  z-index: 999;
}
#calButtons .calClose {
  margin: 0 0 0 10px;
}
.yui-skin-sam .yui-calcontainer {
  background-color: #fff !important;
  border: 0px solid #808080 !important;
  margin: 0 10px;
  text-align: left;
}
.ie6 .yui-skin-sam .yui-calcontainer {
  margin-left: 5px;
}
.yui-skin-sam .yui-calendar .calweekdayrow {
  background: #fff0d9 none;
}
.yui-skin-sam .yui-calendar .calweekdayrow th {
  border: 1px solid #ccc !important;
  font-weight: normal;
}
.yui-skin-sam .yui-calendar .calweekdaycell {
  color: #bcbcbc !important;
  font-weight: normal;
}
.yui-skin-sam .yui-calendar .calheader {
  height: 20px;
}
.yui-skin-sam .yui-calendar a.calnav {
  color: #bcbcbc !important;
  font-weight: normal;
}
.yui-skin-sam .yui-calendar td.calcell {
  height: 2em !important;
  line-height: 1.6em !important;
}
.yui-skin-sam .yui-calendar td.calcell a {
  color: #bcbcbc !important;
  padding: 0 6px;
}
.yui-skin-sam .yui-calendar td.calcell.today {
  background: #6a9a03 !important;
  color: #6a9a03;
}
.yui-skin-sam .yui-calendar td.calcell.today a {
  color: #6a9a03 !important;
}
.yui-skin-sam .yui-calendar td.calcell.selected a {
  background: #cc7fcd !important;
  color: #fff !important;
}
.yui-skin-sam .yui-calendar td.calcell.calcellhover a {
  background: #9ab437 !important;
  color: #fff !important;
}
.yui-skin-sam .yui-calendar td.calcell.calcellhover {
  background: #9ab437 !important;
}
.yui-skin-sam .yui-calendar td.calcell.oom {
  background: #fff !important;
  color: #fff !important;
}
.yui-cal-nav-btn.yui-default {
  background: #9ECD34 none !important;
}
.yui-cal-nav-btn {
  background: #FE9900 none !important;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn {
  border: 0 solid #304369 !important;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn button {
  color: #FFFFFF !important;
}
/* calendar/calendar panel - end */
/* standard style overrides - begin */
/* yui 2 container - begin */
.yui-skin-sam .yui-panel-container {
  border: 0 solid #000;
}
.yui-skin-sam .yui-panel {
  border-width: 0 !important;
}
.yui-skin-sam .yui-panel .bd {
  padding: 0 !important;
}
.yui-skin-sam .mask {
  background-color: #000000;
  opacity: 0.65 !important;
  filter: alpha(opacity=65) !important;
}
/* yui 2 container - begin */
/* calendar/calendar panel - end */
#orderAddressSelState {
  background-color: black;
}
#clearFields {
	margin: 0 0 0 105px;
	width: 135px;
}

#cont {
	margin: 0 0 105 0px;
	width: 200px;
}
/* styles related to the ability to show/hide field hints/labels and color backgrounds with focus - begin */
.background {
  background: #fff none;
  border: 1px solid #cbcdcc;
}
.ie7 .background {
  height: 22px;
}
.background.focused {
  background: #cdffff none;
}
.orderFieldContainer {
  display: none;
}
.inputWrapper {
  position: relative;
  top: 0;
  left: 0;
}
.inputWrapper input {
  left: 0;
  margin: 2px 1px 3px 2px;
  position: relative;
  top: 0;
}
.ie7 .inputWrapper input {
  margin-top: 0;
}
.inputHint {
  color: #686868;
  display: none;
  left: 10px;
  position: absolute;
  top: 0;
  z-index: 0;
}
.disabled .inputHint {
  cursor: pointer;
}
.ddInput, .hintSelect .inputHint {
  cursor: pointer;
}
.disabled .ddInput, .hintSelect .inputHint {
  cursor: default;
}
.disabled .inputHint {
  color: #ccc;
}
.ie6 .inputHint, .ie7 .inputHint {
  top: 5px;
}
.inputHintAsterisk {
  color: #f00;
  width: 10px;
}
.disabled .inputHintAsterisk {
  color: LightPink;
}
.background input.orderField, .background select.orderField {
  border-width: 0;
}
/* styles related to the ability to show/hide field hints/labels and color backgrounds with focus - end */
.ovrlayPanelHdrLeft {
  background: transparent url(../img/sprite_calendar_frame.png) no-repeat 0 0;
  height: 35px;
  width: 4px;
}
.ovrlayPanelHdrCenter {
  background: transparent url(../img/sprite_calendar_frame.png) repeat-x 0 -90px;
  height: 35px;
  text-align: left;
}
.ovrlayPanelHdrRight {
  background: transparent url(../img/sprite_calendar_frame.png) no-repeat 0 -45px;
  height: 35px;
  width: 4px;
}
.ovrlayPanelTitle {
  color: #669900;
  font-size: 115%;
  line-height: 35px;
  padding: 0 0 0 5px;
  white-space: nowrap;
}
.ovrlayPanelFtrLeft {
  background: transparent url(../img/sprite_calendar_frame.png) no-repeat 0 -135px;
  height: 4px;
  width: 4px;
}
.ovrlayPanelFtrRight {
  background: transparent url(../img/sprite_calendar_frame.png) no-repeat 0 -148px;
  height: 4px;
  width: 4px;
}
.ovrlayPanelFtrCenter {
  background: #fff none;
  height: 4px;
}
.ovrlayPanelBodyContainer {
  margin: 0 11px;
}
.ovrlayTitleClose {
  color: #afafaf;
  cursor: pointer;
  font-size: 85%;
  text-decoration: underline;
  white-space: nowrap;
}
.ovrlayTitleClose img {
  background: transparent url(../img/sprite_general.png) no-repeat -24px -33px;
  height: 8px;
  width: 8px;
}
.yui-skin-sam .ovrlayPanel.yui-panel .hd, .yui-skin-sam .ovrlayPanel.yui-panel .ft, .yui-skin-sam .ovrlayPanel.yui-panel .bd {
  background: transparent none !important;
  border-width: 0 !important;
  padding: 0 !important;
}
.yui-skin-sam  .ovrlayPanel.yui-panel .bd {
  background: #fff none !important;
}
.ovrlayPanel {
  display: none;
}
.messagePanelShortMsg {
  color: #ff0000;
  margin: 10px 0;
}
.messagePanelButtons {
  margin: 39px 0 11px;
}
#legalPanel_c {
	z-index: 250 !important;
}
.firefox #legalPanel_c {
	left: 140px !important;
}
#legalPanel {
  display: none;
  text-align: left;
}
#contactUsPanel_c {
	z-index: 250 !important;
}
.firefox #contactUsPanel_c {
	left: 140px !important;
}
#contactUsPanel {
  display: none;
  text-align: left;
}
.contactLabel {
  width: 90px;
}
.contactBodyTable {
  margin: 15px 0 15px 15px;
}
#privacyPanel_c {
	z-index: 250 !important;
}
.firefox #privacyPanel_c {
	left: 140px !important;
}
#privacyPanel {
  display: none;
  text-align: left;
}
.ovrlayPanel.yui-panel .bd table.popupBodyTable {
  margin: 0 0 0 0;
}
.productPopup {
	text-align: left;
}
.productPopupImageContainer {
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 200px;
  z-index: 500;
}
.productPopupImage {
  cursor: pointer;
  height: 200px;
  margin: 0 10px 0 15px;
  overflow: hidden;
  width: 200px;
}
#ovrlayPanel .productPopupImageZoomMsg {
  color: #8f8f8f;
  margin: 0 0 15px 15px;
  width: 225px;
}
.productPopupImageZoomMsg img {
  background: transparent url(../img/sprite_general.png) no-repeat 0 -32px;
  height: 15px;
  margin: 0 0 0 10px;
  width: 15px;
}
#ovrlayPanel .productPopupDescription {
  margin: 10px 0 0;
  width: 400px;
}
#ovrlayPanel .productPopupLine {
  line-height: 26px;
}
#ovrlayPanel .productPopupLabel {
  color: #8f8f8f;
  margin: 0 8px 0 0;
}
#ovrlayPanel .descriptionDivider {
  color: #ccc;
  margin: 10px 0;
  width: 95%;
}
#ovrlayPanel .productPopupButtons {
  margin: 45px 0 0;
}
#ovrlayPanel .closeProductPopUp {
  background: transparent url(../img/sprite_buttons.png) no-repeat 0 -319px;
  height: 31px;
  margin: 0 10px 10px 0;
  width: 60px;
}
#ovrlayPanel_mask {
  position: absolute;
  z-index: 200 !important;
}
#ovrlayPanel_c {
  z-index: 250 !important;
}
.firefox #ovrlayPanel_c {
	left: 50px !important;
}
.imageBox {
  display: none;
  height: 466px;
  position: absolute;
  width: 466px;
  z-index: 501;
}
.imageBox .opaque {
  background: #fff none;
  opacity: .75;
  filter: alpha(opacity=75) !important;
}
.imageBox .ibTopLeft {
  height: 200px;
  width: 200px;
}
.imageBox .ibTopMid {
  height: 200px;
  width: 66px;
}
.imageBox .ibTopRight {
  height: 200px;
  width: 200px;
}
.imageBox .ibMidLeft {
  height: 66px;
  width: 200px;
}
.imageBox .ibMidMid {
  background: transparent url(../img/magnifying_glass.gif) no-repeat center center;
  border: 1px solid #ccc;
  height: 64px;
  width: 64px;
}
.imageBox .ibMidRight {
  height: 66px;
  width: 200px;
}
.imageBox .ibBotLeft {
  height: 200px;
  width: 200px;
}
.imageBox .ibBotMid {
  height: 200px;
  width: 66px;
}
.imageBox .ibBotRight {
  height: 200px;
  width: 200px;
}
#popupWindow {
  background: #fff none;
  border: 1px solid #cccccc;
  display: none;
  height: 198px;
  overflow: hidden;
  position: absolute;
  width: 198px;
  z-index: 600;
}
#popupWindowImage {
  height: 594px;
  position: relative;
  width: 594px;
}
#productPopupImageTouchSurface {
  background: #000 none;
  filter: alpha(opacity=0) !important;
  height: 198px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 198px;
  z-index: 509;
}
/* reworked special drop down widget */
.background {
  height: 30px !important;
  overflow: visible;
}
.ddWidget_c {
  height: 25px !important;
  overflow: visible;
  position: relative;
}
.ddWidget_c.disabled, .disabled .ddWidgetInput, .disabled .ddWidget_btn {
  cursor: default !important;
}
.ddWidgetInput {
  border: 0;
  height: 26px !important;
  position: relative;
}
.ie7 .ddWidgetInput {
  height: 15px !important;  position: relative;
}
.ie6 .ddWidgetInput {
  height: 15px !important;
}
.disabled button.ddWidget_btn {
  background: #ffffff url(../img/sprite_general.png) -87px 7px no-repeat !important;
}
button.ddWidget_btn {
  background: #ffffff url(../img/sprite_general.png) -67px 7px no-repeat;
  border-left: 2px solid #e9e9e9;
  border-width: 0 0 0 2px !important;
  height: 24px;
  position: relative;
  top: 0;
  left: 0;
  width: 22px;
}
.ie8 button.ddWidget_btn {
  /*
	top: 2px;
*/

}
/* appoligies to everyone who sees this but I HAD to use a Safari hack ... no way around it */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  button.ddWidget_btn {
    top: 0px;
  }
}
.disabled button.ddWidget_btn {
  background: #fff none;
}
.ie6 button.ddWidget_btn {
  top: 0px;
}
.ddWidget_list {
  background: #fff none !important;
  border: 1px solid #ccc;
  height: 200px !important;
  overflow: auto;
  overflow-x: visible;
  position: absolute;
  visibility: hidden;
}
.ddWidget_list.visible {
  visibility: visible;
}
.ddWidget_list input.focus {
  background: transparent none;
  border-width: 0;
  height: 0;
  margin-top: -10px;
}
.ie6 .ddWidget_list input.focus, .ie7 .ddWidget_list input.focus, .ie8 .ddWidget_list input.focus {
  margin-top: 0 !important;
}
.ddWidget_item {
  font-size: 85%;
  padding: 2px 0 2px 5px;
  position: relative;
  top: -15px;
}
.ie6 .ddWidget_item {
  top: 0 !important;
}
.ddWidget_item.hover {
  background: #fe9900 none;
  color: white;
}
div.ddWidget_item.groupLevel {
  margin: 0 0 10px 0;
}
div.ddWidget_item.groupLevel .infoValue {
  margin: 0 0 0 10px;
}
#genericMask {
	background: #000 none;
	display: none;
	filter: alpha(opacity=65);
	opacity: .65;
	position: absolute;
	top: 0;
	z-index: 100;
}
#multipleCitiesPanel_c {
	left: 140px !important;
	z-index: 10000 !important;
}
#mcpContent {
	margin: 20px 0 20px 70px;
	text-align: left;	
}
.mcpLine {
	line-height: 25px;
}
#mcpCities {
	border: 1px solid #ccc;
	height: 125px;
	margin: 10px 0;
	overflow: auto;
	overflow-x: hidden;
	width: 405px;
}
input.mcpRadio {
	margin: 0 0 0 10px;
}
label.mcpRadio {
	margin: 0 0 0 11px;
}
#mcpSelect {
	background: transparent url(../img/sprite_buttons.png) no-repeat 0 -777px !important;
	border: 0 solid #fff;
	cursor: pointer;
	height: 35px;
	width: 74px;
}

.disabled #mcpSelect {
	background: transparent url(../img/sprite_buttons.png) no-repeat -185px -777px !important;
	cursor: default;
}

#mcpCancel {
	background: transparent url(../img/sprite_buttons.png) no-repeat -109px -777px !important;
	border: 0 solid #fff;
	cursor: pointer;
	height: 35px;
	margin: 0 0 0 11px;
	width: 74px;
}

.contactInfo a:link { color: #669900; cursor: pointer;}
.contactInfo a:visited { color: #669900; cursor: pointer;}
.contactInfo a:hover { color: #669900; cursor: pointer;}
.contactInfo a:active { color: #669900; cursor: pointer;}