html, body {
	background: #fff none;
}

#container {
	background: transparent;
	text-align: center;
}

#login_container {
	background: transparent url(../img/login.gif) 0 0 no-repeat;
	height: 303px;
	margin: 0 auto;
	position: relative;
	text-align: left;
	top: 140px;
	width: 644px;
}

#login_containerR4Me {
	background: transparent url(../img/loginR4Me.gif) 0 0 no-repeat;
	height: 303px;
	margin: 0 auto;
	position: relative;
	text-align: left;
	top: 140px;
	width: 644px;
}

#login_fields {
	bottom: 5px;
	left: 108px;
	position: absolute;
}

.login_field {
	margin: 0 10px 0 0;
}

.login_field input {
	border: 1px solid #ccc;
	height: 23px;
	width: 118px;
}

.login_label {
	font-size: 9pt;
	font-weight: bold;
	line-height: 25px;
}

.login_signin, .login_signin:hover {
	background: transparent url(../img/sprite_buttons.png) -300px 0 no-repeat !important;
	border: 0px !important;
	cursor: pointer;
	height: 32px !important;
	margin: 5px 0 0;
	width: 96px !important;
}