#gotoSearchPanel_c {
	width:500px;
}
#gotoSearchButtons {
	margin: 15px 0 0 0;	
}
#gotoSearchSelect {
	background: transparent url(../img/sprite_buttons.png) no-repeat -79px -820px !important;
	border: 0 solid #fff;
	cursor: pointer;
	height: 35px;
	width: 74px;
}
.disabled #gotoSearchSelect {
	background: transparent url(../img/sprite_buttons.png) no-repeat -185px -477px !important;
	cursor: default;
}
#gotoSearchCancel {
	background: transparent url(../img/sprite_buttons.png) no-repeat 0 -820px !important;
	border: 0 solid #fff;
	cursor: pointer;
	height: 35px;
	margin: 0 0 0 11px;
	width: 70px;
}
#orderDeliverToTitle {
  margin: 0 13px 0 0;
}
#orderReqFieldsNote {
  font-size: 85%;
}
#orderName {
  margin: 0 0 0 11px;
}
/*
#orderName td {
	border-width: 0;
}
*/
#orderName td.background {
  padding: 0 9px 0 0;
}
#orderNameFirst, #orderNameLast {
  width: 172px;
}
#orderAddressType {
  margin: 0 0 8px 13px;
  float:left;
}
#orderAddressType input, #orderAddressType label {
  cursor: pointer;
}
#orderAddressTypeOr {
/*  margin: 0 23px 0 20px; */
	margin: 0 15px;
}
#orderAddressIptStreet1, #orderAddressIptStreet2 {
  width: 357px;
}
#orderAddressStreet1,
#orderAddressStreet2,
#orderAddressCity,
#orderAddressState,
#orderAddressPostal,
#orderAddressPhone,
#orderAddressOccasion,
#orderAddressAddress,
#orderAddressContainer,
#zip_city_state_literal,
#codifiedProductsContainer,
#orderAddressFacility,
.orderLine {
  margin-left: 14px;
}
.orderLine .productQuantity, .orderLine .productPrice {
	padding: 0 5px 0 0;
}
#orderAddressStreet2,
#orderAddressCity,
#orderAddressState,
#orderAddressPostal,
#orderAddressPhone,
#orderAddressOccasion,
#zip_city_state_literal,
#orderTotalContainer,
#orderAddressFacility {
  margin-top: 11px;
}
#orderAddressContainer {
  margin-top: 5px;
}
#orderTotalContainer {
	margin: 10px 0 0 44px;
}
#orderAddressOR {
	margin: 0 15px;
	color:#669900;
}
#orderAddressIptCity, #orderAddressIptPostal, #orderAddressIptPhone {
  width: 172px;
}
#orderTotalContainer .productName {
	color: #669900;
	font-size: 15px;
}
#phoneNumberEg {
	color: #686868;
	margin: 0 0 0 10px;
}
#orderAddressSelState, #orderAddressSelOccasion {
  filter: alpha(opacity=99) !important;
  position: relative;
  width: 203px;
  z-index: 3;
}
#orderAddressSelFacility {
  filter: alpha(opacity=99) !important;
  position: relative;
  width: 228px;
  z-index: 3;
}
#orderAddressSelFacilities {
  filter: alpha(opacity=99) !important;
  position: relative;
  width: 300px;
  z-index: 3;
}
#orderAddressFacility .disabled, #orderAddressFacilities .disabled {
  cursor: default !important;
}
#addOrderLine {
  margin: 0 0 0 33px;
}
img.addOrderLineBtn {
  background: transparent url(../img/sprite_general.png) -50px 0 no-repeat;
  cursor: pointer;
  height: 12px;
  margin: 0 5px 0 0;
  width: 12px;
}
.ie6 img.addOrderLineBtn {
	background: transparent url(../img/new_line_icon.gif) 0 0 no-repeat;
}
#addOrderLineLbl {
  color: #653662;
  font-size: 85%;
}
#productTable .orderLine {
  margin-top: 10px;
  margin-bottom: 10px;
}
input.productQuantity {
  width: 75px;
}
input.productCode {
  width: 95px;
}
input.productDescription {
  width: 344px;
}
input.productPrice {
  width: 100px;
}
.clearLineContainer {
  border-right: 1px solid #e9e9e9;
}
a.clearLine {
  margin: 0 10px;
}
.singleLine .clearLineContainer {
  border-right: 0px solid #e9e9e9;
}
.singleLine .deleteLineContainer {
	display: none;	
}
a.deleteLine {
  margin: 0 10px;
}
#orderCardMsg {
  margin: 10px 0 0 14px;
}
.ie6 #orderCardMsg {
  margin: 6px 0 0 14px;
}
#orderSpecialInstructions {
  margin: 15px 0 0 14px;
}
.ie6 #orderSpecialInstructions {
  margin: 11px 0 0 14px;
}
#orderCardMsgTxt, #orderSpecialInstructionsTxt {
  background: transparent none;
  border: 0 solid #e9e9e9;
  height: 90px;
  padding: 10px 0 0 5px;
  width: 445px;
}
.orderText td {
  vertical-align: top;
}
.textInstructions {
  color: #666666;
  height: 25px;
  margin: 0 0 0 30px;
  width: 140px;
}
#orderButtons {
  margin: 11px 0 0 14px;
}
.ie6 #orderButtons {
  margin: 11px 0 0 14px;
}
#submitOrder {
  background: transparent url(../img/sprite_buttons.png) 0 -865px no-repeat;
  border-width: 0px;
  cursor: pointer;
  height: 45px;
  width: 115px;
}
#submitOrder.disabled {
  background: transparent url(../img/sprite_buttons.png) 0 -55px no-repeat;
  border-width: 0px;
  cursor: default;
  height: 45px;
  width: 140px;
}
#clearOrder {
  background: transparent url(../img/sprite_buttons.png) -150px 0 no-repeat;
  border-width: 0px;
  cursor: pointer;
  height: 45px;
  width: 140px;
}
.orderFieldContainer {
  display: none;
}
.showAddressFields .orderFieldContainer.addressField {
  display: block;
}
.showFacilityFields .orderFieldContainer.facilityField {
  display: block;
}
#codifiedProductsContainer {
  margin: 15px 0 0 14px;
}
#showProductsControl {
  border: 1px solid #ccc;
  padding: 7px 15px;
  width: 185px;
}
#codifiedProductsContainer .showProductsLit {
	display: block;
}
#codifiedProductsContainer.open .showProductsLit {
	display: none;
}
#codifiedProductsContainer .hideProductsLit {
	display: none;
}
#codifiedProductsContainer.open .hideProductsLit {
	display: block;
}
#showProductsButton {
  background: transparent url(../img/sprite_general.png) -146px 0 no-repeat;
  cursor: pointer;
  height: 15px;
  margin: 0 5px 0 0;
  width: 15px;
}
.open #showProductsButton {
  background: transparent url(../img/sprite_general.png) -171px 0 no-repeat;
}
#codifiedProductTable {
  display: none;
}
.open #codifiedProductTable {
  display: block;
}
#codifiedProductTable {
  margin: 10px 0 0 0;
}
.ie6 #codifiedProductTable {
  margin: 10px 0 0 0;
}
#cptHeader {
  background: transparent url(../img/sprite_calendar_frame.png) 0 -162px repeat-x;
  border: 1px solid #e9e9e9;
  border-bottom-width: 0px;
  color: #585858;
  line-height: 35px;
}
#cptBody {
  background: #fff none;
  border: 1px solid #e9e9e9;
  border-top-width: 0px;
  color: #585858;
  height: 380px;
  line-height: 35px;
  overflow: scroll;
  overflow-x: hidden;
  padding-top: 5px;
}
.ie6 #cptBody {
  width: 783px;
}
.productRow.even {
  background: #f6faeb none;
}
.productRow.odd {
  background: #fff none;
}
.productCode {
  margin: 0 0 0 10px;
  width: 185px;
}
#orderTotalContainer .productCode {
	width: 155px;
}
.productName {
  width: 300px;
}
.productName a {
  text-decoration: underline !important;
}
.productQuantity {
	text-align: right;
	width: 120px;
}
.ie7 .productQuantity, .ie8 .productQuantity {
	margin-right: 5px;
}
.productQuantity input {
  background: #fff none !important;
  padding: 0 5px;
  text-align: right;
  width: 80px;
}
.productPrice {
	margin: 0 0 0 10px;
	text-align: right;
	width: 100px;
}
.productMsrp {
	text-align: right;
	width: 100px;
}
#cptBody .productPrice input {
  background: #fff none !important;
  padding: 0 5px;
  text-align: right;
  width: 80px;
}
.ie7 .productPrice, .ie8 .productPrice {
	margin-right: 5px;	
}
.firefox .productChkBx {
	position: relative;
}
.productChkBx {
  margin: 0 15px 0 0;
  top: 6px;
}
.ie7 .productChkBx, .ie8 .productChkBx, .ie9 .productChkBx {
	border-width: 0px;
}
.productQuantity input {
  width: 75px;
}
#cptBody .productPrice {
  text-align: right;
}
#cptBody .productPrice input {
  width: 75px;
}
.ovrlayPanel.yui-panel .bd table.popupBodyTable {
  margin: 0 0 0 0;
}
.productPopupImageContainer {
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 200px;
  z-index: 500;
}
.productPopupImage {
  cursor: pointer;
  height: 200px;
  margin: 0 10px 0 15px;
  overflow: hidden;
  width: 200px;
}
#ovrlayPanel .productPopupImageZoomMsg {
  color: #8f8f8f;
  margin: 0 0 15px 15px;
  width: 225px;
}
.productPopupImageZoomMsg img {
  background: transparent url(../img/sprite_general.png) no-repeat 0 -32px;
  height: 15px;
  margin: 0 0 0 10px;
  width: 15px;
}
#ovrlayPanel .productPopupDescription {
  margin: 10px 0 0;
  width: 400px;
}
#ovrlayPanel .productPopupLine {
  line-height: 26px;
}
#ovrlayPanel .productPopupLabel {
  color: #8f8f8f;
  margin: 0 8px 0 0;
}
#ovrlayPanel .descriptionDivider {
  color: #ccc;
  margin: 10px 0;
  width: 95%;
}
#ovrlayPanel .productPopupButtons {
  margin: 45px 0 0;
}
#ovrlayPanel .closeProductPopUp {
  background: transparent url(../img/sprite_buttons.png) no-repeat 0 -319px;
  height: 31px;
  margin: 0 10px 10px 0;
  width: 60px;
}
#ovrlayPanel_mask {
  z-index: 200 !important;
}
#ovrlayPanel_c {
  z-index: 201 !important;
}
.imageBox {
  display: none;
  height: 466px;
  position: absolute;
  width: 466px;
  z-index: 501;
}
.imageBox .opaque {
  background: #fff none;
  opacity: .75;
  filter: alpha(opacity=75) !important;
}
.imageBox .ibTopLeft {
  height: 200px;
  width: 200px;
}
.imageBox .ibTopMid {
  height: 200px;
  width: 66px;
}
.imageBox .ibTopRight {
  height: 200px;
  width: 200px;
}
.imageBox .ibMidLeft {
  height: 66px;
  width: 200px;
}
.imageBox .ibMidMid {
  background: transparent url(../img/magnifying_glass.gif) no-repeat center center;
  border: 1px solid #ccc;
  height: 64px;
  width: 64px;
}
.imageBox .ibMidRight {
  height: 66px;
  width: 200px;
}
.imageBox .ibBotLeft {
  height: 200px;
  width: 200px;
}
.imageBox .ibBotMid {
  height: 200px;
  width: 66px;
}
.imageBox .ibBotRight {
  height: 200px;
  width: 200px;
}
#popupWindow {
  background: #fff none;
  border: 1px solid #cccccc;
  display: none;
  height: 198px;
  overflow: hidden;
  position: absolute;
  width: 198px;
  z-index: 600;
}
#popupWindowImage {
  height: 594px;
  position: relative;
  width: 594px;
}
#productPopupImageTouchSurface {
  background: #000 none;
  filter: alpha(opacity=0) !important;
  height: 198px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 198px;
  z-index: 509;
}

#errorMessage {
	color: #f00;
	display: none;
	font-weight: bold;
	margin: 0 0 0 20px;	
}
.ie6 #errorMessage, .ie7 #errorMessage, .ie8 #errorMessage {
	position: relative;
	top: -15px;
}
.searchTips{
	margin-left: 440px;
	font-size: 13px;
}
.searchTipsTitle{
	color: purple;
	text-decoration: underline;
}