.fillerAd {float: left;margin: 0 10px 10px 0;display:block;margin-left:auto;margin-right:auto;}
.left_field_margin {
  margin-left: 33px !important;
}
#orderDeliverToTitle {
  margin: -11px 13px 0 0;
  position: relative;
  width: 140px;
}
.ie6 #orderDeliverToTitle {
  margin-top: 5px !important;
}
#orderReqFieldsNote {
  font-size: 85%;
  margin: -11px 0 0 0;
  position: relative;
  width: 85px;
}
.ie6 #orderReqFieldsNote {
  margin-top: 5px !important;
}
#searchDateContainer {
  margin: 10px 0 0 0;
}
#seachDeliveryDate {
  width: 172px;
}
#myDiv {
	padding: 9px 0 0 9px !important;
}
.deliveryDateCalendar {
  background: transparent url(../img/sprite_general.png) -110px 0 no-repeat;
  cursor: pointer;
  height: 22px;
  margin: 4px 0 0 12px;
  width: 26px;
}

.ie6 .deliveryDateCalendar {
	background:  transparent url(../img/calendar_icon.gif) 0 0 no-repeat !important;
}
#dateCalendarNote {
  color: #8e8e8e;
  font-size: 85%;
  margin: 0 0 0 10px;
  width: 525px;
}
#search_by_literal {
  margin: 12px 0 0;
}
#search_by_literal span.inputHintAsterisk {
  margin: .95em 0;
}
#searchAddressContainer {
  margin: 12px 0 0;
}
#seachAddressOR {
  margin: 0 15px;
  color:#669900;
}
#searchCityAc {
  border-width: 0;
  /*
	height: 27px;
*/

}
#searchCity .yui3-aclist-content {
  height: 200px;
  overflow: auto;
  overflow-x: hidden;
}
b.yui3-highlight {
  color: #000;
}
.yui3-skin-sam .yui3-aclist-item-hover {
  background: #fe9900 none !important;
  color: #fff;
}
.yui3-skin-sam .yui3-aclist-item-active {
  background: #fe9900 none !important;
  color: #fff;
}
#searchSelState {
  height: 27px;
  position: relative;
/*  width: 185px; */
  z-index: 3;
}
.ie8 #searchSelState, .ie7 #searchSelState {
/*  width: 180px; */
}
.ie6 #searchSelState {
  width: 185px; 
}

#searchSelCity{
	position: relative;
	z-index: 3;
}
#selectedFacility {
  color: #656565;
  font-size: 93%;
  margin: 16px 0 0 0;
}
#facilityLabel {
  color: #ababab;
  font-size: 93%;
  margin: 10px;
}
#moreSearchContainer {
  margin: 15px 0 0;
}
#moreSearchButton {
  background: transparent url(../img/sprite_general.png) -146px 0 no-repeat;
  cursor: pointer;
  height: 16px;
  margin: 0 5px 0 0;
  width: 15px;
}
.open #moreSearchButton {
  background: transparent url(../img/sprite_general.png) -171px 0 no-repeat;
}
#moreSearchOptions {
  display: none;
  margin: 12px 0 0;
}
.open #moreSearchOptions {
  display: block;
}
#searchShopCode {
  margin: 12px 0 0;
}
#searchShopName {
  margin: 12px 0 0;
}
#searchMyRating {
  margin: 12px 0 0;
}
#searchButtons {
  margin: 11px 0 0;
}
#submitSearch {
  background: transparent url(../img/sprite_buttons.png) 0 -110px no-repeat;
  border-width: 0px;
  cursor: pointer;
  height: 45px;
  margin: 0 11px 0 0;
  width: 195px;
}
#submitSearch.disabled {
  background: transparent url(../img/sprite_buttons.png) 0 -165px no-repeat;
  border-width: 0px;
  cursor: default;
  height: 45px;
  width: 195px;
}
#clearOrder {
  background: transparent url(../img/sprite_buttons.png) -150px 0 no-repeat;
  border-width: 0px;
  cursor: pointer;
  height: 45px;
  width: 140px;
}
.firefox #calPanel_c, .ie7 #calPanel_c, .ie8 #calPanel_c, .ie9 #calPanel_c {
	left: 0 !important;
	margin: 0 0 0 275px !important;
}
#calPanel_c {
	z-index: 210 !important;	
}
.ie #calPanel_c {
  z-index: 900 !important;
}
.ie6 #calPanel {
	position: relative;
	z-index: 990 !important;
}
#calWrapper {
  height: 235px;
}
#calContainer {
  /*
	background: #fff none;
*/

  border: 0px solid #808080 !important;
  display: none;
  height: 370px;
  margin: 50px auto 0 auto;
  text-align: center;
  width: 245px;
}
.ie6 #calContainer {
  overflow: hidden;
}
.ie6 #calHeader {
  font-weight: bold;
}
.calheader .calnav {
  /*
	display: none;
*/

}
.yui-skin-sam .yui-calendar .calnavleft {
  background: transparent url(../img/sprite_general.png) no-repeat scroll 0 0 !important;
  height: 20px !important;
  width: 20px !important;
}
.yui-skin-sam .yui-calendar .calnavright {
  background: transparent url(../img/sprite_general.png) no-repeat scroll -20px 0 !important;
  height: 20px !important;
  width: 20px !important;
}
#calMonth {
  margin: 0 10px 0 0;
}
#calSelected {
  color: #000;
  
  display: none;
  
  font-weight: bold;
  height: 20px;
  text-align: center;
}
#calButtons {
  position: relative;
  text-align: left;
}
#calButtons .calSubmit {
  background: transparent url(../img/sprite_buttons.png) no-repeat 0 -274px;
  height: 35px;
  margin: 0 0 0 20px;
  position: relative;
  width: 74px;
  z-index: 999;
}
.ie6 #calButtons .calSubmit {
	border-width: 0px;
	left: 20px;
	position: relative;
	top: 0;
}
#calButtons .calClose {
  background: transparent url(../img/sprite_buttons.png) no-repeat -109px -274px;
  height: 35px;
  margin: 0 0 0 10px;
  width: 67px;
}
.ie6 #calButtons .calClose {
	border-width: 0px;
	left: 50px;
	position: relative;
	top: 0;
}
.calHeaderLeft {
  background: transparent url(../img/sprite_calendar_frame.png) no-repeat 0 0;
  height: 35px;
  width: 4px;
}
.calHeaderRight {
  background: transparent url(../img/sprite_calendar_frame.png) no-repeat 0 -45px;
  height: 35px;
  width: 4px;
}
.calHeaderCenter {
  background: transparent url(../img/sprite_calendar_frame.png) repeat-x 0 -90px;
  height: 35px;
}
.calHeaderLabel {
  line-height: 35px;
  padding: 0 0 0 5px;
}
.calFooterLeft {
  background: transparent url(../img/sprite_calendar_frame.png) no-repeat 0 -135px;
  height: 4px;
  width: 4px;
}
.calFooterRight {
  background: transparent url(../img/sprite_calendar_frame.png) no-repeat 0 -148px;
  height: 4px;
  width: 4px;
}
.calFooterCenter {
  background: #fff none;
  height: 4px;
}
/* standard style overrides - begin */
/* yui 2 calendar - begin */
.yui-skin-sam .yui-calcontainer {
  background-color: #fff !important;
  border: 0px solid #808080 !important;
  margin: 0 10px;
  text-align: left;
}
.ie6 .yui-skin-sam .yui-calcontainer {
  left: 10px;
  margin: 0 !important;
  position: absolute;
}
.yui-skin-sam .yui-calendar .calweekdayrow {
  background: #fff0d9 none;
}
.yui-skin-sam .yui-calendar .calweekdayrow th {
  border: 1px solid #ccc !important;
  font-weight: normal;
}
.yui-skin-sam .yui-calendar .calweekdaycell {
  color: #bcbcbc !important;
  font-weight: normal;
}
.yui-skin-sam .yui-calendar .calheader {
  height: 20px;
}
.yui-skin-sam .yui-calendar a.calnav {
  color: #bcbcbc !important;
  font-weight: normal;
}
.yui-skin-sam .yui-calendar td.calcell {
  height: 2em !important;
  line-height: 1.6em !important;
}
.yui-skin-sam .yui-calendar td.calcell a {
  color: #bcbcbc !important;
  padding: 0 6px;
}
.yui-skin-sam .yui-calendar td.calcell.today {
  background: #6a9a03 !important;
  color: #6a9a03;
}
.yui-skin-sam .yui-calendar td.calcell.today a {
  color: #6a9a03 !important;
}
.yui-skin-sam .yui-calendar td.calcell.selected a {
  background: #cc7fcd !important;
  color: #fff !important;
}
.yui-skin-sam .yui-calendar td.calcell.calcellhover a {
  background: #9ab437 !important;
  color: #fff !important;
}
.yui-skin-sam .yui-calendar td.calcell.calcellhover {
  background: #9ab437 !important;
}
.yui-skin-sam .yui-calendar td.calcell.oom {
  background: #fff !important;
  color: #fff !important;
}
.yui-cal-nav-btn.yui-default {
  background: #9ECD34 none !important;
}
.yui-cal-nav-btn {
  background: #FE9900 none !important;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn {
  border: 0 solid #304369 !important;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn button {
  color: #FFFFFF !important;
}
/* yui 2 calendar - end */
/* yui 2 container - begin */
.yui-skin-sam .yui-panel-container {
  border: 0 solid #000;
  z-index: 100 !important;
}
.yui-skin-sam .yui-panel {
  border-width: 0 !important;
}
.yui-skin-sam .yui-panel .bd {
  padding: 0 !important;
}
.yui-skin-sam .mask {
  background-color: #000000;
  opacity: 0.65 !important;
  filter: alpha(opacity=65) !important;
}
.mask {
  z-index: 99 !important;
}
/* yui 2 container - end */
#codifiedProductTable {
  margin: 10px 0 0 0;
}
#cptHeader {
  background: transparent url(../img/sprite_calendar_frame) 0 -162px repeat-x;
  border: 1px solid #e9e9e9;
  border-bottom-width: 0px;
  color: #585858;
  line-height: 35px;
}
#cptBody {
  background: #fff none;
  border: 1px solid #e9e9e9;
  border-top-width: 0px;
  color: #585858;
  height: 380px;
  line-height: 35px;
  overflow: scroll;
  overflow-x: hidden;
  padding-top: 5px;
}
.productRow.even {
  background: #f6faeb none;
}
.productRow.oddn {
  background: #fff none;
}
.productCode {
  margin: 0 0 0 10px;
  width: 185px;
}
.productName {
  width: 500px;
}
.productName a {
  text-decoration: underline !important;
}
.firefox .productChkBx {
	position: relative;
}
.productChkBx {
  margin: 0 15px 0 0;
  top: 6px;
}
.ie6 .productChkBx, .ie7 .productChkBx, .ie8 .productChkBx, .ie9 .productChkBx {
	border-width: 0px;
}
#minimumsTable {
  margin: 10px 0 0 0;
}
#minHeader {
  background: transparent url(../img/sprite_calendar_frame) 0 -162px repeat-x;
  border: 1px solid #e9e9e9;
  border-bottom-width: 0px;
  color: #585858;
  line-height: 35px;
}
#minBody {
  background: #fff none;
  border: 1px solid #e9e9e9;
  border-top-width: 0px;
  color: #585858;
  height: 200px;
  line-height: 35px;
  overflow: scroll;
  overflow-x: hidden;
  padding-top: 5px;
}
.categoryRow.even {
  background: #f6faeb none;
}
.categoryRow.odd {
  background: #fff none;
}
.minCategory {
  margin: 0 0 0 10px;
  width: 185px;
}
.minCategoryAmount {
  width: 500px;
}
.minimumChkBx {
  margin: 0 10px 0 0;
  position: relative;
  top: 6px;
}
.ie7 .minimumChkBx, .ie8 .minimumChkBx {
	border-width: 0px;
}
input.minimumAmount {
  width: 72px;
}
#searchResultsSection {
  display: none;
}
.hasResults #searchResultsSection {
  display: block;
}
#upperResultsButtons {
  color: #adadad;
  margin: -20px 0 0;
}
#upperResultsButtons td {
  vertical-align: bottom;
}
#lowerResultsButtons {
  margin: 10px 0 0;
}
button.pagePrev, button.pagePrev:hover {
  background: transparent url(../img/sprite_buttons.png) no-repeat 0 -360px !important;
  border: 0 !important;
  display: none;
  height: 45px;
  margin: 0 0 0 11px;
  width: 178px;
}
.hasPrev button.pagePrev {
  cursor: pointer;
  display: block !important;
}
button.pageNext, button.pageNext:hover {
  background: transparent url(../img/sprite_buttons.png) no-repeat 0 -415px !important;
  border: 0 !important;
  display: none;
  height: 45px;
  margin: 0 0 0 11px;
  width: 143px;
}
.hasNext button.pageNext {
  cursor: pointer;
  display: block !important;
}
#searchPagination {
  margin: 30px 0 0 11px;
  width: 200px;
}
#searchPagination span {
  color: #9966cc;
}
#formContainer {
  display: none;
}
.showingSearch #formContainer {
  display: block;
}
button.showRefineSearch {
  background: transparent url(../img/sprite_buttons.png) -186px -275px no-repeat;
  visibility: visible;
  height: 45px;
  margin: 3px 15px 0 0;
  position: relative;
  width: 157px;
}
.showingSearch .showRefineSearch {
  visibility: hidden;
}
.ie6 #refineSearchContainer {
  height: 25px;
  /*
	left: -172px;
*/

  overflow: visible;
  position: relative;
}
button.hideRefineSearch {
  background: transparent url(../img/sprite_buttons.png) -186px -275px no-repeat;
  visibility: hidden;
  height: 45px;
  margin: 11px 11px 0 0;
  position: relative;
  width: 157px;
}
.hasResults .hideRefineSearch {
  visibility: visible;
}
.showingSearch.hasResults .hideRefineSearch {
  visibility: visible;
}
.ie6 #searchParmSection {
  margin-top: -32px;
}
#moreSearchControl {
  padding: 7px 15px 7px 0;;
  width: 185px;
}
#searchResults {
  margin: 11px 0 0 0;
}
#searchActions {
/*  margin: 11px 0 0; */
  margin: 5px 0 0;
}
#deliveryDistanceControl {
  border: 1px solid #ccc;
/*  padding: 7px 15px; */
  
  white-space: nowrap;
  padding: 2px 5px;
  margin: 0 0 0 5px;
}
#deliveryDistanceButton {
  background: transparent url(../img/sprite_general.png) -146px 0 no-repeat;
  cursor: pointer;
  height: 15px;
  margin: 0 5px 0 0;
  width: 15px;
}
.open #deliveryDistanceButton {
  background: transparent url(../img/sprite_general.png) -171px 0 no-repeat;
}
#showOnMapContainer {
  margin: 0 0 0 11px;
}
#skipPaidAdsContainer {
  margin: 0 0 0 11px;
}
#showOnMapControl {
  border: 1px solid #ccc;
  padding: 7px 15px;  
  white-space: nowrap;
  padding: 2px 5px;
  width:104px;
}
#skipPaidAds {
  border: 1px solid #ccc;
  padding: 7px 15px;  
  white-space: nowrap;
  padding: 2px 5px;
  width:114px;
}
#showOnMapButton {
  background: transparent url(../img/sprite_general.png) -146px 0 no-repeat;
  cursor: pointer;
  height: 15px;
  margin: 0 5px 0 0;
  width: 15px;
}
.open #showOnMapButton {
  background: transparent url(../img/sprite_general.png) -171px 0 no-repeat;
}
.infoWindowSelect{
  background: transparent url(../img/sprite_buttons.png) 0 -680px no-repeat !important;
  border: 0 !important;
  cursor: pointer;
  height: 31px;
  margin: 0 11px 0 0;
  width: 111px;
}
.infoWindowClose{
  background: transparent url(../img/sprite_buttons.png) -131px -680px no-repeat !important;
  border: 0 !important;
  cursor: pointer;
  height: 31px;
  width: 58px;
}
.showByDistanceMsg {
  display: block;
}
.showByDistance .showByDistanceMsg {
  display: none;
}
.showByStandardMsg {
  display: none;
}
.showByDistance .showByStandardMsg {
  display: block;
}
.showOnMapMsg {
  display: block;
  float: left;
  padding-right: 10px;
}
.showOnMap .showOnMapMsg {
  display: none;
}
.showOnListingsMsg {
  display: none;
  float: left;
  padding-right: 10px;
}
.showOnMap .showOnListingsMsg {
  display: block;
}
#specialSortParms {
  display: none;
}
/* No FLorist Found panel - begin */
#noFloristFoundPanel {
  display: none;
}
#noFloristFoundPanel_c {
	position: absolute;
	margin: 0 0 0 175px;
	top: 0;
  z-index: 300 !important;
}
.placePhoneOrder {
  background: transparent url(../img/sprite_buttons.png) 0 -470px no-repeat !important;
  border-width: 0;
  height: 31px;
  margin: 0 12px 0 0;
  width: 302px;
}
.closeNoFloristFoundButton {
  background: transparent url(../img/sprite_buttons.png) -305px -470px no-repeat !important;
  border-width: 0;
  height: 31px;
  margin: 0 11px 0 0;
  width: 59px;
}
/* No FLorist Found panel - end */
/* Florist Details - begin */
#floristDetailPanel_c {
	position: absolute;
	top: 0;
  z-index: 300 !important;
}
#floristDetailPanel {
  display: none;
  text-align: left;
}
.ie6 #floristDetailPanel {
  margin: 15px 0 0 0;
}
#floristDetailsFields {
  margin: 11px 0 0 11px;
  text-align: left;
  width: 335px;
}
.floristDetailsFieldsContainer {
  margin: 0 0 0 9px;
}
.floristDetailsField {
  color: #797979;
  line-height: 13px;
}
.important {
  color: #000;
  font-weight: bold;
}
.tall {
  line-height: 35px;
}
#floristDetailDistanceContainer {
  background: #3c92c5 none;
  color: #fff;
  height: 20px;
  line-height: 20px;
  margin: 0 0 10px;
  width: 200px;
}
#floristDetailDistance {
  font-weight: bold;
  margin: 0 0 0 11px;
}
#floristDetailsFields .orderSection {
  margin: 0 0 15px;
}
.floristDetailsFixedLabel {
  font-size: 85%;
  font-weight: bold;
  width: 100px;
}
.floristDetailsMinWinter {
  font-size: 85%;
}
#floristDetailProducts {
  width: 295px;
}
#floristDetailsFacilitiesContainer {
  margin: 15px 0 ;
}
#floristDetailFacilities {
  width: 295px;
}
#floristDetailButtons {
  margin: 0 0 17px;
}
.floristDetailSendOrder, floristDetailSendOrder:hover {
  background: transparent url(../img/sprite_buttons.png) -159px -822px no-repeat !important;
  border: 0 !important;
  cursor: pointer;
  height: 31px;
  margin: 0 11px 0 0;
  width: 111px;
}
.unavailable .floristDetailSendOrder, .unavailable .floristDetailSendOrder:hover {
  background: transparent url(../img/sprite_buttons.png) -328px -517px no-repeat !important;
  cursor: default;
}
.floristDetailReturnSearch, .floristDetailReturnSearch:hover {
  background: transparent url(../img/sprite_buttons.png) -122px -517px no-repeat !important;
  border: 0 !important;
  cursor: pointer;
  height: 31px;
  margin: 0 5px 0 0;
  width: 196px;
}
#floristDetailsMenu {
  color: #aaa;
  margin: 10px 0 0;
  width: 420px;
}
#floristDetailPanel td {
  vertical-align: top;
}
#floristDetailsMenu li.clickable {
  color: #669900;
}
#floristDetailsMenu ul {
  display: inline;
  margin-left: 0;
  padding-left: 0;
}
#floristDetailsMenu ul li {
  border-left: 1px solid #669900;
  display: inline;
  list-style: none;
  margin-left: 0;
  padding: 3px 8px;
}
#floristDetailsMenu ul li.first {
  border-left: none;
  display: inline;
  list-style: none;
  margin-left: 0;
}
#floristDetailsDynamicArea {
  border: 1px solid #669900;
  height: 410px;
  margin: 8px 0 0 10px;
  overflow: hidden;
  width: 400px;
}
.floristDetailDynamicPanel {
  display: none;
  height: 100%;
  margin: 10px 10px 0 10px;
  position: relative;
  z-index: 0;
}
.floristDetailDynamicPanel.visible {
  display: block;
}
#floristMapArea {
  height: 385px;
  width: 385px;
}
.mnuPictureImage {
  background: transparent url(../img/sprite_general.png) no-repeat -68px -58px;
  height: 13px;
  position: relative;
  top: 2px;
  width: 16px;
}
.clickable .mnuPictureImage {
  background: transparent url(../img/sprite_general.png) no-repeat -42px -34px;
}
.mnuVideoImage {
  background: transparent url(../img/sprite_general.png) no-repeat -68px -58px;
  height: 13px;
  position: relative;
  top: 2px;
  width: 16px;
}
.clickable .mnuVideoImage {
  background: transparent url(../img/sprite_general.png) no-repeat -42px -34px;
}
#floristPicturesList {
  height: 400px;
  overflow: auto;
  width: 50px;
}
.floristDetailImageThumb {
  border: 1px solid #669900;
  margin: 0 0 3px;
}
.floristDetailImageThumb img {
  cursor: pointer;
  width: 48px;
}
#floristPicturesViewer {
  height: 100%;
  overflow: hidden;
  position: relative;
}
#floristPicturesImage {
  position: relative;
  width: 330px;
}
#floristPicturesLeft {
  background: transparent none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
  z-index: 900;
}
.ie6 #floristPicturesLeft {
  top: 25%;
}
#floristPicturesLeft img, #floristPicturesRight img {
  height: 100%;
  width: 100%;
}
.ie6 #floristPicturesLeft img, .ie6 #floristPicturesRight img {
  height: 100px;
}
#floristPicturesLeft.visible {
  background: transparent url(../img/arrow_scroll_left.gif) no-repeat center center;
}
#floristPicturesRight {
  background: transparent none;
  height: 100%;
  right: 0;
  position: absolute;
  top: 0;
  width: 50px;
}
.ie6 #floristPicturesRight {
  top: 25%;
}
#floristPicturesRight.visible {
  background: transparent url(../img/arrow_scroll_right.gif) no-repeat center center;
}
#floristAdArea img {
  height: 395px;
/*  width: 350px; */
}
/* Florist Details - end */
/*
 * search results ad space - begin
 */
.listingButtons td {
  vertical-align: middle;
}
#generalAdSpace {
  background: #ccc none;
  height: 810px;
  width: 100%;
}
#featuredAdSpace {
  margin: 0 0 0 10px;
  width: 240px;
}
.featuredAd {
  background: #cccccc none no-repeat 0 0;
  height: 400px;
  width: 240px;
}
#topFeaturedAd {
  margin: 0 0 10px;
}
.adDisplayArea {
  display: none;
}
#searcMapArea {
  background: transparent none no-repeat 0 0;
  height: 790px;
  margin: 10px;
}
.ie6 #searcMapArea {
	height: 760px;
	margin: 0 0 0 90px;
	width: 500px;
}
#fullPageAd {
  background: transparent none no-repeat 0 0;
  height: 790px;
  margin: 10px;
  width: 500px;
}
#paidAds {
  height: 790px;
  padding: 10px 0 0 10px;
  width: 100%;
}
.ie6 #paidAds {
  background: transparent none no-repeat 0 0;
  height: 780px;
/*  widows: 490px; */
}
.paidAd {
  float: left;
  height: 245px;
  margin: 0 10px 10px 0;
  width: 150px;
}
#stateManager.showOnMap #searcMapArea {
  display: block;
}
/*#stateManager.fullPageAds #fullPageAdArea {
  display: block;
}*/
/*#stateManager.paidAds #paidAdsArea {
  display: block;
} */
#stateManager.listings #listingsArea, #stateManager.fullPageAds #listingsArea, #stateManager.paidAds  #listingsArea {
  display: block;
}
#listings {
  height: 790px;
  padding: 10px 0 0 10px;
  width: 100%;
}
.ie6 #listings {
  background: transparent none no-repeat 0 0;
  height: 780px;
  width: 650px;
}
.listing * {
  white-space: nowrap;
}
.listing {
  background: #ffffff url(../img/background_listings_normal.gif) repeat-x bottom left;
  float: left;
  height: 257px;
  margin: 0 10px 10px 0;
  position: relative;
  white-space: nowrap;
  width: 214px;
}
.listing table tr td {
	vertical-align: top;
}
#listings .preferred {
  background: #ffffff url(../img/background_listings_preferred.gif) repeat-x bottom left;
}
#listings .unavailable {
  background: #ffffff url(../img/background_listings_unavailable.gif) repeat-x bottom left;
}
.listingName {
  color: #669900;
  font-weight: bold;
  margin: 5px 0 0 5px;
  white-space: normal;
  width: 150px;
}
#listings .preferred .listingName {
  color: #9966cc;
}
#listings .unavailable .listingName {
  color: #888;
}
.listingSameCity {
  background: transparent url(../img/sprite_general.png) no-repeat -98px -58px;
  cursor: default;
  height: 15px;
  margin: 5px 3px 0 0;
  width: 13px;
}
.mouseable .listingQualityCare {
  background: transparent url(../img/sprite_general.png) no-repeat -20px -102px;
  cursor: pointer;
  height: 21px;
  margin: 2px 3px 0 0;
  width: 21px;
}
.mouseable .listingFruitBouquets {
  background: transparent url(../img/sprite_general.png) no-repeat -3px -102px;
  cursor: pointer;
  height: 21px;
  margin: 2px 3px 0 0;
  width: 17px;
}
.mouseable .listingSameCity {
  background: transparent url(../img/sprite_general.png) no-repeat -98px -34px;
  cursor: pointer;
}
.listingId {
  color: #888;
  margin: 0 0 0 5px;
}
.listingPhone {
  color: #000;
  margin: 0 10px 0 0;
}
.streetAddress {
  color: #888;
  margin: 0 0 0 5px;
}
.cityState {
  color: #888;
  margin: 0 0 0 5px;
  overflow: hidden;
}
.zip {
  color: #888;
  font-weight: bold;
  margin: 0 0 0 5px;
}
.faxLine {
  color: #888;
  margin: 0 0 0 5px;
}
.faxNumber {
  color: #000;
}

.tlo {
	color: #FF0000;
	font-weight: bold;
	margin: 0 0 0 5px;
}

.listingContact {
  color: #000000;
  margin: 0 0 0 5px;
}
.listingDistance {
  background: #3c92c5 none;
  color: #fff;
  height: 20px;
  line-height: 20px;
  margin: 5px 0 5px 5px;
  width: 195px;
}
.listingDelivery {
  color: #888;
  margin: 0 0 0 5px;
}
.listingDeliveryCharge {
  color: #000;
}
#listings .unavailable .listingDistance {
  background: #cbcbcb none;
}
.listingDistanceMiles {
  font-weight: bold;
  margin: 0 0 0 11px;
}
.showListingProducts {
  color: #9966cc;
  cursor: pointer;
}
#listings .unavailable .showListingProducts {
  color: #888;
  cursor: default;
}
.showListingMinimums {
  color: #9966cc;
  cursor: pointer;
}
#listings .unavailable .showListingMinimums {
  color: #888;
  cursor: default;
}
.listingButtons {
  bottom: 5px;
  position: absolute;
  width: 100%;
}
.listingButtons td {
  vertical-align: bottom !important;
}
.listingVideo {
  background: transparent url(../img/sprite_general.png) no-repeat -68px -58px;
  cursor: default;
  height: 12px !important;
/*  margin: 15px 0 0 10px; ...... this is for NO THUMBS */
  margin: 0 0 5px 5px;  /* this is for WITH THUMBS */
  width: 20px !important;
}
.mouseable .listingVideo {
  background: transparent url(../img/sprite_general.png) no-repeat -68px -80px;
  cursor: pointer;
}
.listingPictures {
  background: transparent url(../img/sprite_general.png) no-repeat -42px -58px;
  cursor: default;
  height: 12px;
  margin: 0 0 5px 10px;
  width: 20px;
}
.mouseable .listingPictures {
  background: transparent url(../img/sprite_general.png) no-repeat -42px -80px;
  cursor: pointer;
}
.noThumb {
  cursor: auto;
}
.listingSend {
  cursor: default;
  height: 35px;
  margin: 5px 0 0 0;
  width: 116px;
}
.listingSend {
  background: transparent url(../img/sprite_buttons.png) no-repeat -165px -822px;
  cursor: pointer;
}
#listings .preferred .listingSend {
  background: transparent url(../img/sprite_buttons.png) no-repeat -230px -632px;
  cursor: pointer;
}
#listings .unavailable .listingSend {
  background: transparent url(../img/sprite_buttons.png) no-repeat -115px -632px;
  cursor: default;
}
.listDD {
  height: 25px;
  overflow: visible;
  position: relative;
  z-index: 3;
}
.listDDPointer {
  background: transparent url(../img/sprite_general.png) no-repeat -122px -50px;
  cursor: pointer;
  height: 15px;
  width: 9px;
}
#listings .unavailable .listDDPointer {
  background: transparent url(../img/sprite_general.png) no-repeat -122px -69px;
  height: 9px;
}
#listings .open .listDDPointer {
  background: transparent url(../img/sprite_general.png) no-repeat -122px -34px;
  height: 9px;
}
.listDDContainer {
  left: 0;
  position: absolute;
  top: 0;
}
.listDDList {
  background: #fff none;
  border: 1px solid #669900;
  color: #8c8c8c;
  display: none;
  height: 200px;
  left: 0;
  position: absolute;
  top: 15px;
  z-index: 10000;
}
#listings .open .listDDList {
  display: block;
  z-index: 900;
}
#listingProducts {
  margin: 0 2px 0 5px;
}
#listingProducts .listDDList {
  overflow: auto;
  overflow-x: hidden;
  width: 180px;
}
.listingProductItems {
  font-size: 85%;
  margin: 0 0 5px;;
  padding: 0 0 0 5px;
  white-space: normal;
}
#listingMinimums {
  margin: 0 0 0 5px;
}
#listingMinimums .listDDList {
  overflow: auto;
  overflow-x: hidden;
  width: 180px;
}
.listingMinimumItems {
  font-size: 85%;
  margin: 0 0 5px;;
  padding: 0 0 0 5px;
  white-space: normal;
}
/*
 * search results ad space - end
 */
/*
 * Since IE6 is fast losing its status as an A-Grade browser we are having to put some special code and styles in 
 * place to address this
 */
.ie6 .sectionCap td {
  vertical-align: top;
}
.ie6 #formContainer .orderSection {
  overflow: hidden;
  width: 100% !important;
}

.thumbsUp {
	background: transparent	 url(../img/thumbs2.gif) no-repeat -3px -9px;
	cursor: pointer;
	height: 36px;
	margin: 0 0 0 0;
	width: 30px;
}

.unSelected .thumbsUp {
	background: transparent	 url(../img/thumbs2.gif) no-repeat -3px -53px;
	cursor: pointer;
}

.thumbsDown {
	background: transparent	 url(../img/thumbs2.gif) no-repeat -41px -11px;
	cursor: pointer;
	height: 36px;
	margin: 0 2px 0 0;
	width: 25px;
}

.unSelected .thumbsDown {
	background: transparent	 url(../img/thumbs2.gif) no-repeat -41px -55px;
	cursor: pointer;
}

.likeValue {
	color: #fff;
	font-size: 7pt;
	left: 5px;
	position: relative;
	top: 13px;
}

.instructions {
	color: #686868;
	margin: 20px 0 0;
}

#errorMessage {
	color: #f00;
	display: none;
	font-weight: bold;
	margin: 0 0 0 20px;	
}
.ie6 #errorMessage, .ie7 #errorMessage, .ie8 #errorMessage {
	position: relative;
	top: -15px;
} 

/* NEW STYLES */
#pleaseCallSmall {
  background: url(../img/sprite_buttons.png) -283px -821px no-repeat;
  border-width: 0px;
  height: 31px;
  margin: 0 11px 4px 0;
  width: 99px;
}
#pleaseCallLarge {
  background: url(../img/sprite_buttons.png) -283px -865px no-repeat;
  border-width: 0px;
  height: 45px;
  margin: 0 11px 0 0;
  width: 145px;
}