#orderDeliverToTitle {
	margin-left: 5px !important;
	width: 421px;	
}
#orderFloristInfoTitle {
	margin-left: 5px !important;
	width: 421px;	
}
#floristInfoTitle {
	margin-left: 0px !important;
}
#deliveryDate {
	margin-left: 0px !important;
	margin-top: -15px !important;
}
#floristName {
	margin-bottom: 0px !important;
	margin-left: 0 !important;
	width: 425px;	
}
#floristShopCodeLine {
	margin-left: 0px !important;
}
#floristToPhone {
	margin-left: 0px !important;
}
#deliverToName {
	width: 425px;	
}

.generalLabel {
  color: #616161;
  font-weight: bold;
}
.orderSummaryTitle {
  color: #616161;
  font-weight: bold;
  margin: 0 0 5px 10px;
}
.orderSummaryLine {
  color: #616161;
  line-height: 16px;
  margin: 0 0 0 15px;
}
#describedProductTable {
  margin: 0 0 15px 0;
}
#dptHeader {
  background: transparent url(../img/sprite_calendar_frame) 0 -162px repeat-x;
  border: 1px solid #e9e9e9;
  border-bottom-width: 0px;
  color: #585858;
  font-weight: bold;
  line-height: 35px;
}
#dptBody {
  background: #fff none;
  border: 1px solid #e9e9e9;
  border-top-width: 0px;
  color: #585858;
/*  height: 145px; */
  line-height: 35px;
/*  overflow: auto;
  overflow-x: hidden; */
  padding-top: 5px;
}
.ie6 #dptBody {
  width: 783px;
}
.dptRow.even {
  background: #f6faeb none;
}
.dptRow.odd {
  background: #fff none;
}
#dptHeader .dptQuantity {
  text-align: right;
}
#dptHeader .dptPrice {
  text-align: right;
}
.dptName {
  margin: 0 0 0 10px;
/*   width: 450px; */
}
.dptQuantity {
  width: 115px;
}
.dptRow .dptQuantity {
  text-align: right;
}
.dptPrice {
	margin: 0 10px 0 0;
  width: 80px;
}
.dptRow .dptPrice {
  text-align: right;
}
#codifiedProductTable {
  margin: 0 0 15px 0;
}
#cptHeader {
  background: transparent url(../img/sprite_calendar_frame) 0 -162px repeat-x;
  border: 1px solid #e9e9e9;
  border-bottom-width: 0px;
  color: #585858;
  font-weight: bold;
  line-height: 35px;
}
#cptBody {
  background: #fff none;
  border: 1px solid #e9e9e9;
  border-top-width: 0px;
  color: #585858;
  height: 190px;
  line-height: 35px;
  overflow: auto;
  overflow-x: hidden;
  padding-top: 5px;
}
.ie6 #cptBody {
  width: 783px;
}
.cptRow.even {
  background: #f6faeb none;
}
.cptRow.odd {
  background: #fff none;
}
#cptHeader .cptQuantity {
  text-align: right;
}
#cptHeader .cptPrice {
  text-align: right;
}
.cptCode {
  margin: 0 0 0 10px;
  width: 210px;
}
.cptCode img {
  height: 75px;
  margin: 3px 0;
  vertical-align: middle;
}
.cptName {
/*  width: 300px; */
}
.cptQuantity {
  width: 85px;
}
.cptRow .cptQuantity {
  text-align: right;
}
.cptPrice {
	margin: 0 10px 0 0;
  width: 80px;
}
.cptRow .cptPrice {
  text-align: right;
}
#totalsTable {
  margin: 0 0 15px 0;
}
#ttHeader {
  background: transparent url(../img/sprite_calendar_frame) 0 -162px repeat-x;
  border: 1px solid #e9e9e9;
  border-bottom-width: 0px;
  color: #585858;
  font-weight: bold;
  line-height: 35px;
}
#ttBody {
  background: #fff none;
  border: 1px solid #e9e9e9;
  border-top-width: 0px;
  color: #585858;
  line-height: 35px;
  overflow: auto;
  overflow-x: hidden;
  padding-top: 5px;
}
.ie6 #ttBody {
  width: 783px;
}
.ttRow.even {
  background: #f6faeb none;
}
.ttRow.odd {
  background: #fff none;
}
#ttHeader .ttQuantity {
  text-align: right;
}
#ttHeader .ttPrice {
  text-align: right;
}
.ttName {
  margin: 0 0 0 10px;
/*  width: 520px; */
}
.ttQuantity {
  width: 85px;
}
.ttRow .ttQuantity {
  color: #9966cc;
  text-align: right;
}
.ttPrice {
	margin: 0 10px 0 0;
	width: 80px;
}
.ttRow .ttPrice {
  color: #9966cc;
  text-align: right;
}
#cardMessage .orderSummaryTitle {
  width: 100px;
}
#specialInstructions .orderSummaryTitle {
  width: 140px;
}
.textField td {
  vertical-align: top;
}
.textField .orderSummaryText {
  white-space: normal;
}
#summaryButtons {
  margin: 15px 0 0;
}
.submitOrder {
  background: transparent url(../img/sprite_buttons.png) no-repeat 0px -568px !important;
  border-width: 0 !important;
  cursor: pointer;
  height: 45px;
  margin: 0 11px 0 0;
  width: 136px !important;
}
.disabled .submitOrder {
  background: transparent url(../img/sprite_buttons.png) no-repeat 0px -722px !important;
}
.submitPrintOrder {
  background: transparent url(../img/sprite_buttons.png) no-repeat -146px -568px !important;
  border-width: 0 !important;
  cursor: pointer;
  height: 45px;
  margin: 0 11px 0 0;
  width: 303px !important;
}
.disabled .submitPrintOrder {
  background: transparent url(../img/sprite_buttons.png) no-repeat -146px -722px !important;
}
.closeOrder {
  background: transparent url(../img/sprite_buttons.png) no-repeat -460px -568px !important;
  border-width: 0 !important;
  cursor: pointer;
  height: 45px;
  width: 87px !important;
}

#submitError_c {
	margin: 0 0 0 150px;
	z-index: 250 !important;
}
#submitError {
	display: none;
	text-align: left;
}

.closeSubmitError {
  background: transparent url(../img/sprite_buttons.png) -460px -568px no-repeat !important;
  border: 0 !important;
  cursor: pointer;
  height: 45px;
  margin: 0 11px 0 0;
  width: 87px;
}

#summaryMessageLine {
	color: #616161;
	display: none;
	font-size: 16px;
	font-weight: bold;
	line-height: 35px;
	margin: 5px 0 5px 8x;
}

#summaryMessageNumber {
	color: #669900;
}